
@(displayedName: String,  newsfeed: List[models.Event], profile:User, datasetsList: List[Dataset],  dscomments: Map[UUID, Int], collectionsList:List[Collection], spacesList: List[ProjectSpace],
         deletePermission: Boolean,  followers: List[(UUID, String, String, String)], followedUsers: List[(UUID, String, String, String)], followedFiles: List[(UUID, String, String)],
        followedDatasets: List[(UUID, String, String)], followedCollections: List[(UUID, String, String)], followedSpaces: List[(UUID, String, String)], ownProfile: Option[Boolean])(implicit  flash: play.api.mvc.Flash, user: Option[models.User])

@import _root_.util.Formatters

@main(displayedName) {
    <script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/spaceListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>

    @**
    <div class="row">
        <h2>@profile.fullName</h2>
        <div class="button-margins">
            <a href="@routes.Profile.viewProfileUUID(profile.id)" class="btn btn-link" title="Show profile">
                <span class="glyphicon glyphicon-user"></span> Profile</a>
            <a href="@routes.Spaces.newSpace()" class="btn btn-link" title="Create a new @Messages("space.title")">
                <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", Messages("space.title"))</a>
            <a href="@routes.Datasets.newDataset(None, None)" class="btn btn-link" title="Create a new dataset">
                <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", Messages("dataset.title"))</a>
            <a href="@routes.Collections.newCollection(None)" class="btn btn-link" title="Create a new collection">
                <span class="glyphicon glyphicon-ok"></span> @Messages("create.title", Messages("collection.title"))</a>
            <a href="@routes.T2C2.newTemplate(None)" class="btn btn-link" title="Create Template">
                <span class="glyphicon glyphicon-ok"></span> Template Management</a>
        </div>
    </div>
    **@
    <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" id="eventsTab" ><a href="#events" aria-controls="events" role="tab" data-toggle="tab"><b>Activity</b></a></li>

            <li role="presentation" class="active" id="treeTab" ><a href="#treeView" aria-controls="events" role="tab" data-toggle="tab"><b>Mine</b></a></li>
<!--             <li role="presentation" id="treeTabSharedByMe" ><a href="#treeViewSharedByMe" aria-controls="events" role="tab" data-toggle="tab"><b>Shared By Me</b></a></li>
            <li role="presentation" id="treeTabSharedWithMe" ><a href="#treeViewSharedWithMe" aria-controls="events" role="tab" data-toggle="tab"><b>Shared With Me</b></a></li>
 -->
            @**
            <li role="presentation" class="" id="spacesTab" ><a href="#spaces" aria-controls="spaces" role="tab" data-toggle="tab"><b>@play.api.i18n.Messages("home.title", play.api.i18n.Messages("spaces.title"))</b></a></li>
            <li role="presentation" id="collectionsTab" ><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab"><b>@play.api.i18n.Messages("home.title", play.api.i18n.Messages("collections.title"))</b></a></li>
           
            <li role="presentation" class="active" id="datasetsTab"><a href="#datasets" aria-controls="datasets"  role="tab" data-toggle="tab"><b>@play.api.i18n.Messages("home.title", play.api.i18n.Messages("datasets.title"))</b></a></li>
            <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab"><b>Followers</b></a></li> **@
         </ul>
        <!-- Tab panes -->
    <div class="jumbotron">        
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="events">
                <div class="">
                    @eventsList(newsfeed)
                    <div id="moreevent"></div>
                    <div class="text-center more-events">
                        <a  id="moreeventbutton" href="#/" onClick="moreEvents()" class="btn btn-link">
                            <span class="glyphicon glyphicon-refresh"> </span>
                            View More Events
                        </a>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="treeView">
                <div class="panel-default panel">
                   <div class="panel-heading">
                    <h3 class="panel-title">My Collection and Datasets</h3>
                   </div>
                    <div class="panel-body">
                        <div class="row" style="padding:0 15px;">
                            <div class="alert alert-info treeInfoMine">
                                <strong>You have not created any collections or datasets yet</strong>
                            </div>
                            <div class="showSearchMine">
                                <input class="search-collection form-control" placeholder="Search your collections and datasets."></input><br />
                            </div>
                            <div class="alert alert-warning treeDetailsMine">Owners may right click object to rename/delete. Drag and drop to move. </div>
                            <div class="showTreeMine" style="height:450px; overflow-y:auto;">
                                <!-jstree goes here-->

                                <div class="panel panel-default">
                                    <div id="fullTree">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="treeViewSharedByMe">
                <div class="panel-default panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Shared By Me</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="padding:0 15px;">
                            <div class="alert alert-info treeInfoSharedWithOthers">
                                <strong>You have not shared any collections or datasets in a space yet.</strong>
                            </div>
                            <div class="showSearchSharedWithOthers">
                                <input class="search-collection form-control" placeholder="Search your collections and datasets."></input><br />
                            </div>
                            <div class="alert alert-warning treeDetailsSharedWithOthers">Owners may right click object to rename/delete. Drag and drop to move. </div>

                            <div class="showTreeSharedWithOthers" style="height:450px; overflow-y:auto;">
                                <!-jstree goes here-->

                                <div class="panel panel-default">
                                    <div id="fullTreeSharedByMe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="treeViewSharedWithMe">
                <div class="panel-default panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Shared By Me</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="padding:0 15px;">
                            <div class="alert alert-info treeInfoSharedWithMe">
                                <strong>No collections or datasets have been shared with you yet.</strong>
                            </div>
                            <div class="showSearchSharedWithMe">
                                <input class="search-collection form-control" placeholder="Search your collections and datasets."></input><br />
                            </div>
                            <div class="alert alert-warning treeDetailsSharedWithMe">Owners may right click object to rename/delete. Drag and drop to move. </div>

                            <div class="showTreeSharedWithMe" style="height:450px; overflow-y:auto;">
                                <!-jstree goes here-->

                                <div class="panel panel-default">
                                    <div id="fullTreeSharedWithMe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="spaces">
                @* spaces *@
                <div class="panel-default panel">
                   <div class="panel-heading">
                        <h3 class="panel-title">My Spaces</h3>
                   </div>                
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">
                                   <span class="glyphicon glyphicon-info-sign">&nbsp;</span>@Messages("space.list.message", Messages("spaces.title"))
                                </div>    
                            </div>
                            <div class="col-xs-12 pad-top"><h5>You have @spacesList.size spaces.</h5>
                               @if(spacesList.size > 1) {
                                        <a href="@routes.Spaces.newSpace()">Create New</a>
                                        |
                                        <a href="@routes.Spaces.list("","",12, "", Some(profile.id.stringify))">See More</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="masonry-spaces">
                @spacesList.map { space =>
                    @spaces.tile(space, "col-xs-3", routes.Application.index(), false)
                }
                </div>
                @if(spacesList.size < 1) {
                    <div class="text-center">
                        <div>@Messages("home.empty.message", Messages("spaces.title")) </div>

                        <div class="btn-top-pad"> <a class="btn-success btn" href="@routes.Spaces.newSpace()" title="Create a new @Messages("space.title")">@Messages("create.title", Messages("space.title"))</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="datasets">
                @* datasets *@
                <div class="panel-default panel row">
                   <div class="panel-heading">
                        <h3 class="panel-title">My Datasets</h3>
                   </div>                
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">
                                    <span class="glyphicon glyphicon-info-sign">&nbsp;</span>@Messages("dataset.list.message", Messages("datasets.title").toLowerCase, Messages("dataset.title").toLowerCase) 
                                </div>  
                            </div>
                            <div class="col-xs-12 pad-top"><h5>You have @datasetsList.size datasets.</h5>
                               @if(datasetsList.size > 1) {
                                    <a href="@routes.Datasets.newDataset(None, None)">Create New</a> | 
                                    <a href="@routes.Datasets.list("","",12, None, "", Some(profile.id.stringify))">See More</a></span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="">
                @datasetsList.map { dataset =>
                    @datasets.tile(dataset, None, dscomments, "col-xs-3", false, false, routes.Application.index())
                    @datasets.listitem(dataset,None,Map.empty[UUID, Int],routes.Datasets.dataset(dataset.id,None))
                }
                </div>
                @if(datasetsList.size < 1) {
                    <div class="text-center">
                        <div>@Messages("home.empty.message", Messages("datasets.title").toLowerCase) </div>
                        <div class="btn-top-pad"> <a class="btn-success btn" href="@routes.Datasets.newDataset(None, None)" title="Create a new @Messages("dataset.title")">@Messages("create.title", Messages("dataset.title"))</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="collections">
                @* collections *@
                <div class="panel-default panel">
                   <div class="panel-heading">
                        <h3 class="panel-title">My Collections</h3>
                   </div>                
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">
                                    <span class="glyphicon glyphicon-info-sign">&nbsp;</span>@Messages("collection.list.message", Messages("collections.title").toLowerCase,  Messages("datasets.title").toLowerCase )
                                </div>  
                            </div>
                            <div class="col-xs-12 pad-top"><h5>You have @collectionsList.size collections.</h5>
                               @if(collectionsList.size > 1) {
                                        <a href="@routes.Collections.newCollection(None)">Create New</a> | 
                                        <a href="@routes.Collections.list("","",12, None, "", Some(profile.id.stringify))">See More</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id ="masonry-collections">
                @collectionsList.map { collection =>
                    @collections.tile(collection, routes.Application.index(), None, "col-xs-3", false)
                }
                </div>
                @if(collectionsList.size < 1) {
                    <div class="text-center">
                        <div>@Messages("home.empty.message", Messages("collections.title").toLowerCase) </div>

                        <div class="btn-top-pad"> <a class="btn-success btn" href="@routes.Collections.newCollection(None)" title="Create a new @Messages("collection.title")">@Messages("create.title", Messages("collection.title"))</a></div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="followers">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h2> Followers</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-right"> <a href="@routes.Users.getFollowers()">See More</a></span>
                    </div>
                </div>
                <div class="row">

                    @for(row <- followers) {
                        @users.tile(row, "col-xs-2", false)
                    }
                    @if(followers.size < 1) {
                        <div class="text-center col-xs-12 padding-top">
                            This area will show users that follow you. Ask other users to follow you <a class="btn-link" href="@routes.Profile.viewProfileUUID(profile.id)">here</a>
                        </div>
                    }
                </div>
                <h2>Following</h2>
                <div class="panel-group" id="accordion" style="margin-top: 15px">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Users</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Users.getFollowing()">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body caption break-word">
                                <div class="row" style="margin-top : 15px;">
                                @for(userInfo <- followedUsers) {
                                    @users.tile(userInfo, "col-xs-2", true)
                                }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSpaces">@Messages("spaces.title")</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Spaces.followingSpaces(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseSpaces" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(info <- followedSpaces) {
                                <div class="col-xs-3" style="margin-top : 30 px" id="@info._1-tile">
                                    <div class="panel panel-default space-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-tent"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4><a href="@routes.Spaces.getSpace(info._1)">@info._2.toString</a></h4>
                                        @info._3
                                        </div>
                                        <ul class="list-group space-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                    btn btn-link
                                                                } else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                    true
                                                                } else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="space"
                                                            objectId="@info._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == info._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Files</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Files.followingFiles(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(fileInfo <- followedFiles) {
                                <div class="col-xs-3" style="margin-top: 30px" id="@fileInfo._1-tile">
                                    <div class="panel panel-default file-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-file"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4><a href="@routes.Files.file(fileInfo._1)">@fileInfo._2.toString</a></h4>
                                        @fileInfo._3
                                        </div>
                                        <ul class="list-group file-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectId = "@fileInfo._1.stringify"
                                                            objectType = "file"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == fileInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Datasets</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Datasets.followingDatasets(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(datasetInfo <- followedDatasets) {
                                <div class="col-xs-3" style="margin-top: 30px" id="@datasetInfo._1-tile">
                                    <div class="panel panel-default dataset-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4> <a href="@routes.Datasets.dataset(datasetInfo._1)">@datasetInfo._2.toString</a></h4>
                                        @datasetInfo._3
                                        </div>
                                        <ul class="list-group dataset-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="dataset"
                                                            objectId="@datasetInfo._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == datasetInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Collections</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="pull-right"> <a href="@routes.Collections.followingCollections(0, 12, "")">See More</a></span>
                                    </div>
                                </div>

                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                            @for(collectionInfo <- followedCollections) {
                                <div class="col-xs-3" style="margin-top: 30px" id="@collectionInfo._1-tile">
                                    <div class="panel panel-default collection-panel">
                                        <div class="pull-left">
                                            <span class="glyphicon glyphicon-folder-close"></span>
                                        </div>
                                        <div class="panel-body caption break-word">
                                            <h4><a href="@routes.Collections.collection(collectionInfo._1)">@collectionInfo._2.toString</a></h4>
                                        @collectionInfo._3
                                        </div>
                                        <ul class="list-group collection-panel-footer">
                                        @user match {
                                            case Some(viewer) => {
                                                @ownProfile match {
                                                    case Some(sameProfile) => {

                                                            <button
                                                            id="followButton"
                                                            type="button"
                                                            class="
                                                                @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                    btn btn-link
                                                                }else {
                                                                    btn btn-link
                                                                }
                                                            "
                                                            data-toggle="button"
                                                            aria-pressed="
                                                                @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                    true
                                                                }else {
                                                                    false
                                                                }
                                                            "
                                                            autocomplete="off"
                                                            objectType="collection"
                                                            objectId="@collectionInfo._1.stringify"
                                                            >
                                                            @if(viewer.followedEntities.filter(x => (x.id == collectionInfo._1)).nonEmpty) {
                                                                <span class="glyphicon glyphicon-star-empty"></span> Unfollow
                                                            } else {
                                                                <span class="glyphicon glyphicon-star"></span> Follow
                                                            }
                                                            </button>

                                                    }
                                                    case None => {
                                                    }
                                                }
                                            }
                                            case None => {}
                                        }
                                        </ul>
                                    </div>
                                </div>
                            }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

<!-- Modal -->
<div id="modalMoveDatasetToCollection" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Move Dataset to Collection...</h4>
      </div>
      <div class="modal-body">
          <div id="collectionsMoveTree"></div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-success" id="submitMoveDatasetData" data-dismiss="modal">Move</button>

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="modalMoveCollectionToCollection" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Move Dataset to Collection...</h4>
      </div>
      <div class="modal-body">
          <div id="collectionsToCollectionsMoveTree"></div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-success" id="submitMoveCollectionData" data-dismiss="modal">Move</button>

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script src="@routes.Assets.at("javascripts/lib/masonry.pkgd.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/lib/imagesloaded.pkgd.min.js")" type="text/javascript"></script>

<script>

// $('#collectionsToCollectionsMoveTree').modal({ show: true})
// $('#modalMoveCollectionToCollection').modal({ show: true})

//Get collections
function checkCollections() {
    $.ajax({
        url: "/t2c2/collections/getLevelOfTree",
        dataType: "json",
        beforeSend: function(xhr){
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("Accept", "application/json");
        },
        success: function(data) {
            var numCollections = data.length; 
            if (numCollections == 0){
                $(".showTreeMine").hide();
                $(".treeInfoMine").show(); 
                $(".treeDetailsMine").hide(); 
                $(".showSearchMine").hide();   
            }else{
                $(".showTreeMine").show();
                $(".treeInfoMine").hide(); 
                $(".treeDetailsMine").show(); 
                $(".showSearchMine").show();   
            }        
        }
    });
}

checkCollections();
createJSTrees();

$(document).ready(function(){
   $('input:checkbox:checked').prop('checked', false);
});

function createJSTrees() {
    $("#fullTree").show();
    $("#fullTree").jstree({

        "core" : {
            "check_callback" : true,
            'data' : {
                'url' : function (node) {
                    return node.id === "#" ?
                    "api/fulltree/getChildrenOfNode?nodeType=root" :
                    "api/fulltree/getChildrenOfNode?nodeId="+node.id+"&nodeType="+node.type+"&role="+node.role+"";

                },
                'data' : function (node) {
                    return { 'id' : node.id , 'test' : node.image, 'role' : node.role };
                }
            },        
            "multiple" : false,
            "themes" : {
              "variant" : "large",
              "stripes" : true
            },
            "search": {
              "case_insensitive": true,
              "show_only_matches" : true
            },
        },
        "checkbox" : {
            "keep_selected_style" : false,
            "three_state" : false,
            "tie_selection" : false
         },
        "plugins" : [
            "checkbox",
            "dnd",
            // "state",
            "contextmenu",
            "massload",
            "search",
            // "sort",
            "types",
            "unique",
            "wholerow",
            "changed",
            "conditionalselect"
        ],
            "contextmenu":{

            "select_node" : false,

            "items": function($node) {

                var tree = $("#fullTree").jstree(true);

                if($node.type == 'collection' && $node.original.role == 'owner') {

                    return {
                        // console.log(obj);
                        "Rename": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Rename Collection",
                            // "icon" : "glyphicon glyphicon-plus",
                            "action": function (obj) {
                                tree.edit($node);
                            }
                        },

                        "Delete": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Delete Collection",
                            // "icon" : "glyphicon glyphicon-plus",
                            "action": function (obj) {
                                tree.delete_node($node);
                            }
                        }

                    };
                }else if($node.type == 'dataset' && $node.original.role == 'owner'){
                    return {
                        "Rename": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Rename Dataset",
                            // "icon" : "glyphicon glyphicon-plus",
                            "action": function (obj) {
                                tree.edit($node);
                            }
                        },
                        "Delete": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Delete Dataset",
                            // "icon" : "glyphicon glyphicon-plus",
                            "action": function (obj) {
                                tree.delete_node($node);
                            }
                        }

                    };
                }else if($node.type == 'file' && $node.original.role == 'owner'){
                    return {
                        "Delete": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Delete File",
                            // "icon" : "glyphicon glyphicon-plus",
                            "action": function (obj) {
                                tree.delete_node($node);
                            }
                        }
                    };
                }else if ($node.type == 'space'){
                   console.log('type of node is space')
                    // TODO what does here?
                } else {

                }
            }

        },

         'types' : {
            'space' : {
                "valid_children":["dataset", "collection"]
            },
            'collection' : {
                "valid_children":["dataset", "collection"]
            },
            'dataset' : {
                "valid_children":"file"
            },
            'file' : {
                "valid_children":[]
            }
        }

     });
    }


    function findYoungestChild(selectedText){
        var arr = $("#fullTree").jstree("get_selected");
        arr.pop();
        $.ajax({
            url: jsRoutes.api.T2C2.findYoungestChild(arr).url,
            type:"POST",
            dataType: "json",
            data: JSON.stringify({ ids: arr}),
            beforeSend: function(xhr){
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Accept", "application/json");
            },
            success: function(data) {
                // console.log("youngest child");
                setCurrentParentID(data, selectedText);
            }
        });
    }

    function setCurrentParentID(data, selectedText){
        // console.log("setting current parent id");
        var currentParentId = data;
        postNestedCollection(currentParentId, selectedText);
    }

    //Create NEW nested collection
    function postNestedCollection(parentId, nestedCollectionName) {
        console.log("posting nested collection");

        var nestedCollectionDescription = ""; //Add an optional label to jstree on create for a collection description

         $.ajax({
            url: jsRoutes.api.Collections.createCollectionWithParent(parentId,nestedCollectionName).url,
            type:"POST",
            beforeSend: function(xhr){
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Accept", "application/json");
            },
            data: JSON.stringify({ name: nestedCollectionName, description: nestedCollectionDescription, parentId: parentId }),

            success: function(data){
                $("#fullTree").jstree("refresh");

                swal({
                  title: "Success",
                  text: "A new sub collection was created",
                  type: "success",
                  timer: 1500,
                  showConfirmButton: false
                });

                //recreate tree
                // $("#fullTree").jstree("destroy");
                // var newCollectionID = data.id
                // var currentSpaceId = $("#spaces").val();
                // if ($("#spaces").val() != "" && $("#spaces").val() != null){
                //     var spaceId = $("#spaces").val();
                //     createJSTrees("getLevelOfTreeInSpace", newCollectionID, spaceId, newCollectionID);
                // }else{
                //     createJSTrees("getLevelOfTreeNotShared", newCollectionID, "", newCollectionID);
                // }
            },
            error: function(xhr, status, error) {
                swal({
                  title: "Error",
                  text: "There was a problem creating the sub collection",
                  type: "error",
                  timer: 1500,
                  showConfirmButton: false
                });
            }
        })
    }

    function editTypeName(id, newName, dataType){
        var url = "";
        if (dataType == "collection"){
            url = jsRoutes.api.Collections.updateCollectionName(id, newName).url;
        }else if(dataType == "dataset"){
            url = jsRoutes.api.Datasets.updateName(id, newName).url;
        }else if(dataType == "file"){
            //The code for this hasn't been merged from Clowder yet.
        }else{
            url = "";
        }

        $.ajax({
            url: url,
            type:"PUT",
            data: JSON.stringify({ name: newName}),
            dataType: "json",
            beforeSend: function(xhr){
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Accept", "application/json");
            },
            success: function(data) {
                $("#fullTree").jstree("refresh");

                // if ($("#spaces").val() != "" && $("#spaces").val() != null){
                //     var spaceId = $("#spaces").val();
                //     createJSTrees("getLevelOfTreeInSpace", collectionId, spaceId, "");
                //     // getSharedCollections($("#spaces").val(),collectionID);
                // }else{
                //     createJSTrees("getLevelOfTreeNotShared", "", "", "");

                //     // getCollections(collectionID);
                // }
            },
            error: function(xhr, status, error) {
            }
        });
    }

    $("#fullTree").on("rename_node.jstree", function (e, data) {
            var dataType = data.node.type;
            $('#fullTree').jstree(true).check_node(data.node.id);
            var selectedText = data.node.text;
            editTypeName(data.node.id, selectedText, dataType);
    });

    //event for use as a dnd only
    $("#fullTree").on("move_node.jstree", function (e, data) {
            var dataType = data.node.type;
            if (dataType == "dataset"){

                //orphaned ds
                if (data.old_parent === "#"){
                    moveDataset('#', data.node.id, data.parent);
                }else{
                    moveDataset(data.old_parent, data.node.id, data.parent);
                }

            }else if(dataType == "collection"){

                if (data.old_parent === "#"){
                    moveCollection('', data.parent, data.node.id);
                }else{
                    moveCollection(data.old_parent, data.parent, data.node.id);
                }
            }
    });

    //For use with move and or copy.
    $("#fullTree").on("copy_node.jstree", function (e, data) {
        // $('#modalMoveCollectionToCollection').modal({ show: true})
    });

    $("#fullTree").on("delete_node.jstree", function (e, data) {
            var dataType = data.node.type;
            if (dataType == "collection"){
                deleteCollectionAndContents(data.node.id);
            }else if(dataType == "dataset"){
                deleteDatasetAndContents(data.node.id);
            }else if(dataType == "file"){
                deleteFile(data.node.id);
            }else{
            }
    });

    function deleteCollectionAndContents(id){
        $.ajax({
            url: jsRoutes.api.Collections.removeCollectionAndContents(id).url,
            type:"DELETE"
        })
    }

    function deleteDatasetAndContents(id){
        $.ajax({
            url: jsRoutes.api.Datasets.deleteDataset(id).url,
            type:"DELETE"
        })
    }

    function deleteFile(id){
        $.ajax({
            url: jsRoutes.api.Files.removeFile(id).url,
            type:"POST"
        })
    }

    function moveDataset(oldCollectionId, datasetId, newCollectionId){
        $.ajax({
            url: jsRoutes.api.Collections.moveDatasetToNewCollection(oldCollectionId,datasetId,newCollectionId).url,
            type:"POST"
        })
    }

    function moveOrphanedDataset(collectionId, datasetId){
        $.ajax({
            url:jsRoutes.api.Collections.attachDataset(),
            type:"POST",
            data: JSON.stringify({ coll_id:collectionId, ds_id:datasetId}),
            dataType: "json",
            beforeSend: function(xhr){
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Accept", "application/json");
            },
            success: function(data) {
            }

        })
    }

    function moveCollection(originalCollection, newCollection, childCollectionId){
        $.ajax({
            url: jsRoutes.api.Collections.moveChildCollection(childCollectionId).url,
            type:"POST",
            data: JSON.stringify({ originalCollection:originalCollection, newCollection:newCollection}),
            dataType: "json",
            beforeSend: function(xhr){
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Accept", "application/json");
            },
            success: function(data) {
            }
        })
    }

    //Posts new template
    function postTemplate(templateType, datasetID){
        // var menuName = $('.nav-tabs .active > a').attr("href");
        var templateTerms = buildTemplate(menuName);
        var tagName = $('.tagName').val().toUpperCase();
        // var shareTemplate = $('#checkShareTemplate').is(":checked");
        var datasetName = $("" + menuName + " .datasetName").val();
        var templateType = false; //templateType.toString();
        $.ajax({
            url: jsRoutes.api.Vocabularies.createVocabularyFromJson(shareTemplate).url,
            type:"POST",
            data: JSON.stringify({ name: datasetName, terms: templateTerms, tags: tagName, master: templateType}),
            beforeSend: function(xhr){
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Accept", "application/json");
            },
            success: function(data){
                addTemplateToDataset(datasetID, data.id);
            },
            error: function(xhr, status, error) {
                swal({
                  title: "Error",
                  text: "There was a problem creating this template",
                  type: "error",
                  timer: 1500,
                  showConfirmButton: false
                });
            }
        })
    }

    //Search Plugin
    $(".search-collection").keyup(function() {
        var searchString = $(this).val();
        $("#fullTree").jstree('search', searchString);
    });

    //Prevent collection search from submitting the form
    $('.search-collection').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
        }
    });

    $("#fullTree").on("check_node.jstree", function(e, data){

        console.log(data.event);
        if (data.event != undefined){
            if (data.node.type === "collection"){
                window.location.href = "/collection/"+data.node.id+"";
            }else if(data.node.type === "dataset"){
                window.location.href = "/datasets/"+data.node.id+"";
            }else if(data.node.type === "file"){
                window.location.href = "/files/"+data.node.id+"";
            }else if(data.node.type === "space"){
                window.location.href = "/spaces/"+data.node.id+"";
            }else{

            }
        }else{
            $('#fullTree').jstree(true).deselect_all();
        }

    });


    var removeIndicator=true;
    function activateOne(id) {
        // initialize Masonry
        var $container = $('#'+id).masonry();
        // layout Masonry again after all images have loaded
        imagesLoaded( '#masonry', function() {
            $container.masonry({
            itemSelector: '.post-box',
            columnWidth: '.post-box',
                transitionDuration: 4
            });
        });
    }

    function activate(){
        activateOne("masonry-datasets");
        activateOne("masonry-collections");
        activateOne("masonry-spaces");
    }

    function getThumbnail(id){
        var currentThumbnail = new Image();
        currentThumbnail.src = window.location.href+"/fileThumbnail/"+id+"/blob"
    }

    $(document).ready(function() {
        activate();
        $(".nav-tabs > li.active").removeClass("active")
        var url = window.location.href;
        let params = new URLSearchParams(location.search.slice(1));
        if (url.indexOf("?") >= 0){
            for (let p of params) {
                if (p[0] === "sp"){
                    $("#spacesTab").addClass("active");
                    $("#spaces").addClass("active");
                }else if(p[0] === "tv"){
                    $("#treeTab").addClass("active");
                    $("#treeView").addClass("active");
                }else if(p[0] === "tv"){
                    $("#treeTabSharedByMe").addClass("active");
                    $("#treeViewSharedByMe").addClass("active");
                }else if(p[0] === "tv"){
                    $("#treeTabSharedWithMe").addClass("active");
                    $("#treeViewSharedWithMe").addClass("active");
                }else if(p[0] === "col"){
                    $("#collectionsTab").addClass("active");
                    $("#collections").addClass("active");
                }else if(p[0] === "act"){
                    $("#eventsTab").addClass("active");
                    $("#events").addClass("active");
                }else{
                    $("#datasetsTab").addClass("active");
                    $("#datasets").addClass("active");
                }          
            }
        }else{
             $("#treeTab").addClass("active");
             $("#treeView").addClass("active");
        }

    });

    // fire when showing from tab
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        activate();
    })

    var eventCount = 3;
    function moreEvents(){
        var request = jsRoutes.controllers.Events.getEvents(eventCount).ajax({
            type: 'GET'
        });

        request.done(function (response, textStatus, jqXHR) {
            eventCount = eventCount + 1;
            $("#moreevent").append(response);
        });

        request.fail(function (jqXHR, textStatus, errorThrown){
            // console.error("The following error occured: " + textStatus, errorThrown);
            notify("Could not get more events: " + errorThrown, "error");
        });
    }

//Search Plugin
$(".search-collection").keyup(function() {
    var searchString = $(this).val();
    $("#fullTreeSharedByMe").jstree('search', searchString);
});

//Prevent collection search from submitting the form
$('.search-collection').keydown(function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
});

var removeIndicator=true;
function activateOne(id) {
    // initialize Masonry
    var $container = $('#'+id).masonry();
    // layout Masonry again after all images have loaded
    imagesLoaded( '#masonry', function() {
        $container.masonry({
            itemSelector: '.post-box',
            columnWidth: '.post-box',
            transitionDuration: 4
        });
    });
}

function activate(){
    activateOne("masonry-datasets");
    activateOne("masonry-collections");
    activateOne("masonry-spaces");
}

function getThumbnail(id){
    var currentThumbnail = new Image();
    currentThumbnail.src = window.location.href+"/fileThumbnail/"+id+"/blob"
}

$(document).ready(function() {
    activate();
    $(".nav-tabs > li.active").removeClass("active")
    var url = window.location.href;
    let params = new URLSearchParams(location.search.slice(1));
    if (url.indexOf("?") >= 0){
        for (let p of params) {
            if (p[0] === "sp"){
                $("#spacesTab").addClass("active");
                $("#spaces").addClass("active");
            }else if(p[0] === "tv"){
                $("#treeTab").addClass("active");
                $("#treeView").addClass("active");
            }else if(p[0] === "tv"){
                $("#treeTabSharedByMe").addClass("active");
                $("#treeViewSharedByMe").addClass("active");
            }else if(p[0] === "tv"){
                $("#treeTabSharedWithMe").addClass("active");
                $("#treeViewSharedWithMe").addClass("active");
            }else if(p[0] === "col"){
                $("#collectionsTab").addClass("active");
                $("#collections").addClass("active");
            }else if(p[0] === "act"){
                $("#eventsTab").addClass("active");
                $("#events").addClass("active");
            }else{
                $("#datasetsTab").addClass("active");
                $("#datasets").addClass("active");
            }
        }
    }else{
        $("#treeTab").addClass("active");
        $("#treeView").addClass("active");
    }

});

// fire when showing from tab
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    activate();
})

var eventCount = 3;
function moreEvents(){
    var request = jsRoutes.controllers.Events.getEvents(eventCount).ajax({
        type: 'GET'
    });

    request.done(function (response, textStatus, jqXHR) {
        eventCount = eventCount + 1;
        $("#moreevent").append(response);
    });

    request.fail(function (jqXHR, textStatus, errorThrown){
        // console.error("The following error occured: " + textStatus, errorThrown);
        notify("Could not get moe events: " + errorThrown, "error");
    });
}

//Search Plugin
$(".search-collection").keyup(function() {
    var searchString = $(this).val();
    $("#fullTreeSharedWithMe").jstree('search', searchString);
});

//Prevent collection search from submitting the form
$('.search-collection').keydown(function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
    }
});

var removeIndicator=true;
function activateOne(id) {
    // initialize Masonry
    var $container = $('#'+id).masonry();
    // layout Masonry again after all images have loaded
    imagesLoaded( '#masonry', function() {
        $container.masonry({
            itemSelector: '.post-box',
            columnWidth: '.post-box',
            transitionDuration: 4
        });
    });
}

function activate(){
    activateOne("masonry-datasets");
    activateOne("masonry-collections");
    activateOne("masonry-spaces");
}

function getThumbnail(id){
    var currentThumbnail = new Image();
    currentThumbnail.src = window.location.href+"/fileThumbnail/"+id+"/blob"
}

$(document).ready(function() {
    activate();
    $(".nav-tabs > li.active").removeClass("active")
    var url = window.location.href;
    let params = new URLSearchParams(location.search.slice(1));
    if (url.indexOf("?") >= 0){
        for (let p of params) {
            if (p[0] === "sp"){
                $("#spacesTab").addClass("active");
                $("#spaces").addClass("active");
            }else if(p[0] === "tv"){
                $("#treeTab").addClass("active");
                $("#treeView").addClass("active");
            }else if(p[0] === "tv"){
                $("#treeTabSharedByMe").addClass("active");
                $("#treeViewSharedByMe").addClass("active");
            }else if(p[0] === "tv"){
                $("#treeTabSharedWithMe").addClass("active");
                $("#treeViewSharedWithMe").addClass("active");
            }else if(p[0] === "col"){
                $("#collectionsTab").addClass("active");
                $("#collections").addClass("active");
            }else if(p[0] === "act"){
                $("#eventsTab").addClass("active");
                $("#events").addClass("active");
            }else{
                $("#datasetsTab").addClass("active");
                $("#datasets").addClass("active");
            }
        }
    }else{
        $("#treeTab").addClass("active");
        $("#treeView").addClass("active");
    }

});

// fire when showing from tab
$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    activate();
})

var eventCount = 3;
function moreEvents(){
    var request = jsRoutes.controllers.Events.getEvents(eventCount).ajax({
        type: 'GET'
    });

    request.done(function (response, textStatus, jqXHR) {
        eventCount = eventCount + 1;
        $("#moreevent").append(response);
    });

    request.fail(function (jqXHR, textStatus, errorThrown){
        // console.error("The following error occured: " + textStatus, errorThrown);
        notify("Could not get moe events: " + errorThrown, "error");
    });
}

</script>
}
