@(dataset: Dataset, folder: Option[Folder], spaces: List[ProjectSpace], folderHierarchy: List[Folder])(implicit user: Option[models.User])

@import _root_.util.Formatters._
@main("Add Files") {

    <!-- Custom items for the create dataset workflow -->
    <script src="@routes.Assets.at("javascripts/dataset-attach-fileuploader.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>

    <div class="row">
        <ol class="breadcrumb navigate-bread">
        @if(spaces.length == 1) {
            <li><span class="glyphicon glyphicon-tent"></span> <a href="@routes.Spaces.getSpace(spaces.head.id)" title="@spaces.head.name"> @Html(ellipsize(spaces.head.name, 18))</a></li>
        } else {
            @if(spaces.length > 1) {
                <li>
                    <span class="dropdown">
                        <button class="btn-link dropdown-toggle" type="button" id="dropdown_space_list" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-tent"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" arialanelledby="dropdown_space_list">
                        @spaces.map { s =>
                            <li><a href="@routes.Spaces.getSpace(s.id)" title="s.name"><span class="glyphicon glyphicon-tent"></span> @Html(ellipsize(s.name, 18))</a></li>
                        }
                        </ul>
                    </span>
                </li>
            } else {
                <li><span class="glyphicon glyphicon-user"></span> <a href = "@routes.Profile.viewProfileUUID(dataset.author.id)"> @dataset.author.fullName</a></li>
            }
        }
            <li><span class="glyphicon glyphicon-briefcase"></span> <a href="@routes.Datasets.dataset(dataset.id)"> <span title="@dataset.name"> @Html(ellipsize(dataset.name, 18))</span> </a> </li>
            @folderHierarchy.map { folder =>
              <li><span class="glyphicon glyphicon-folder-close"></span> <a href="@routes.Datasets.dataset(dataset.id)#folderId=@folder.id"> @folder.displayName</a></li>

            }
            <li> <span class="glyphicon glyphicon-upload"></span> Add Files to
                @folder match {
                    case Some(f) => {Folder}
                    case None =>  {Dataset}
            }
            </li>
        </ol>
    </div>
    <div class="page-header header">
        <h1>

            <a href="
            @folder match {
                case Some(f) => {@routes.Datasets.dataset(dataset.id)#folderId=@f.id}
                case None => {@routes.Datasets.dataset(dataset.id)}
            }
            " class="back-button btn btn-link" title="Navigate back to dataset">
                <span class="glyphicon glyphicon-chevron-left" style="font-size: 150%;"></span>
            </a>
            Add Files to
            @folder match {
                case Some(f) => {Folder}
                case None =>  {Dataset}
            }
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                @folder match {
                    case Some(f) => {
                        <li> Folder <a href="@routes.Datasets.dataset(dataset.id)#folderId=@f.id">@f.displayName</a></li>
                        <li>Parent Dataset <a href="@routes.Datasets.dataset(dataset.id)">@dataset.name</a></li>
                    }

                    case None => {<li>Dataset <a href="@routes.Datasets.dataset(dataset.id)">@dataset.name</a></li>}
                }

                <li>@Messages("owner.label"): <a href= "@routes.Profile.viewProfileUUID(dataset.author.id)"> @dataset.author.fullName </a></li>
                <li>Created on @dataset.created.format("MMM dd, yyyy")</li>
            </ul>
        </div>
    </div>
    @folder match {
        case Some(f) => {@datasets.uploadFiles(dataset, Some(f.id.stringify)) }
        case None => {@datasets.uploadFiles(dataset, None) }
    }

}