html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

body {
	padding-top: 80px;
}


/* Wrapper for page content to push down footer */
#wrap {
	min-height: calc(100% - 30px);
}

.break-word {
	word-wrap: break-word;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#superadmin {
	position: fixed;
	left: 0px;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
}

/* Login and Sign up boxes */
div.login-nav-box {
	margin: 10px 0 25px 0
}

/* Previews */
.fit-in-space {
	max-width: 100%;
	max-height: 100%;
}

/* Basic button bars */
span.button-bar {
	width: 50%;
}

span.align-right {
	float: right;
}

.error span, label.error {
	color: red;
	padding-left: 10px;
	text-align: left;
}

.success {
	color: green;
	padding-left: 10px;
	text-align: left;
}

.hiddencomplete {
	display: none;
}

.hiddenholdspace {
	visibility: hidden;
}

/* Not required for template or sticky footer method. */
#wrap>.container {
	/*padding-top: 60px;*/
	
}

.container .credit {
	margin: 0px;
}

code {
	font-size: 80%;
}

#nwthumbs {
	text-align: center;
}

#nwthumbs>li {
	display: inline-block;
	*display: inline; /* ie7 fix */
	float: none; /* this is the part that makes it work */
}

/*
 * ----------------------------------------------------------------------
 * Comments
 * ----------------------------------------------------------------------
 */
.comment {
	padding-top: 25px;
}

.comment-image {
	width: 32px;
	height: 0px;
	float: left;
}

.comment-author {
	float: left;
}

.comment-header {
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 85%;
}

.comment-body {
	padding-left: 10px;
	min-height: 30px;
}

.comment-footer {
	padding-left: 10px;
	font-size: 85%;
	padding-right: 10px;
}

.comment-reply {
	padding-left: 0px;
}

.comment-input-box {
	width: 100%;
	margin: 10px 0px;
}

.rubberbandDiv {
	position: absolute;
	border: 3px solid blue;
	cursor: crosshair;
	display: none;
	pointer-events: none;
}

.rubberbandCanvas {
	border: thin solid #aaaaaa;
}

.rubberbandFormDiv {
	width: 260px;
	background: white;
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	display: none;
	z-index: 5;
}

.rubberbandForm {
	text-align: center;
}

.rubberbandForm label {
	display: inline-block;
	width: 100px;
	text-align: left;
}

.rubberbandForm label input {
	float: right;
	width: inherit;
}

.rubberbandForm label textarea {
	float: right;
	width: inherit;
	height: 50px;
}

.usr_md_ {
	margin-right: 10px;
	margin-bottom: 5px;
}

.tech_md_ {
	margin-right: 10px;
	margin-bottom: 5px;
}

#table-scroll {
	height: 400px;
	overflow: auto;
	margin: 10px;
	border: 1px solid #ddd;
	padding: 10px;
}

/*.usr_md_search_list {*/
/*list-style-type:none;*/
/*}*/
.usr_md_search_list_not {
	margin-left: 58px;
}

.file_separator {
	border-top: 1px solid #141414 !important;
}

.ds-section-sm {
	margin-bottom: 20px;
	padding: 0 15px;
}

#geostreams_map {
	height: 600px;
}
.tile {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.tile img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.tile p {
	margin: 0;
}

.draggable { 
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }

.droppable { 
	border: 2px solid black;
	width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
	
.removeButtonWrapper {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 101;
}

.removeButtonWrapper button {
	background-color: rgba(255, 255, 255, 0.5);
}
  


.wrapped {
	padding: 15px 5px;
}

.avatar {
	width: 48px;
	height: 48px;
}

#checkboxFieldSet .control-group .control-label {
	position: relative;
	left: 140px;
}

#datasetRadioFieldSet .control-group .controls span label {
	position: relative;
	top: -17px;
	left: 20px;
}

#nameDescrFieldSet .control-group .controls .buttonset label {
	margin-right: 10%;
}

#nameDescrFieldSet .homePages .external-link-delete,
#nameDescrFieldSet .affSpaces .affiliated-space-delete {
	display: inline-block;
	margin-left: 10px;
}

#nameDescrFieldSet .homePages .external-link-add,
#nameDescrFieldSet .affSpaces .affiliated-space-add  {
	display: inline-block;
	margin-left: 10px;
}

#nameDescrFieldSet .homePages .control-group,
#nameDescrFieldSet .affSpaces .control-group {
	display: inline-block;
	width: 85%;
}

#nameDescrFieldSet .homePages .control-label,
#nameDescrFieldSet .affSpaces .control-label {
	display: none;
}

.profilePicture {
	width: 256px;
	height: 256px;
}

.editProfileInput input[type='text'] {
	width: 450px;
	height: 30px;
}

.editProfileInput textarea {
	width: 450px;
	height: 100px;
}

.editProfileInput .chosen-select {
	width: 450px;
}

#nameDescrFieldSet .control-group .controls textarea {
	width: 100%;
	height: 100px;
}

#nameDescrFieldSet .control-group .controls input[type='text'] {
	width: 100%;
	height: 30px;
}

.checkbox {
	font-weight: normal;
}

#adminMailFieldSet .control-group .controls input[type='text'] {
	width: 208px;
	height: 30px;
}

:-webkit-full-screen x3d {
	width: 100%;
	height: 100%;
}

.mmd-img {
	width: 80px;
}

.mmd-col {
	width: 10%;
}

.inner-item {
	text-align: center;
}

.inner-item img {
	margin: 0 auto;
}

.img-thumbnail {
	padding: 10px;
}

.post-box {
	margin: 15px 0 15px 0;
    max-width:100%;
}

.file-type {
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: white;
	background-color: #0B61A4;
	width: 100%;
	min-height: 150px;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
}

.file-type:hover {
	color: white;
	text-decoration: none;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
   /* line-height: 200px; */
}

.panel .select {
    padding-right: 5px;
    padding-top: 5px;
}

.panel .bookmark {
	padding-right: 2px;
}

.panel .panel-body .img-responsive {
	margin: 0 auto;
}

.panel .panel-body .pic {
	vertical-align: middle;
}

.accordion {
	margin-bottom: 30px;
}

textarea:focus, input[type='text']:focus, input[type='password']:focus {
	border-color: rgb(102, 175, 233);
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
	
}

textarea, input[type='text'], input[type='password'] {
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.elasticsearchResult {
	margin-bottom: 10px;
}

.truncate {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#list-view {
	padding-top: 20px;
}

#tile-view {
}
	

.file-info .table th, .file-info .table td {
	border-top: none;
}

.col-right-border {
	border-right: 1px solid #E1E1E8;
	margin: 0px;
}

.col-left-border {
	border-left: 1px solid #E1E1E8;
	margin: -1px;
}

.border-top {
	border-top: 1px solid #E1E1E8;
	padding-top: 10px;
	margin-top: 10px;
}

.btn-margins {
	margin: 20px 0px;
}

.btn-margin-bottom {
	margin-bottom: 20px !important;
}

.col-section {
	margin: 20px 0px;
}

#tagCloudCanvas {
	border: 1px solid #e6e6e6;
}

.paddingTop7 {
	padding-top: 7px;
}

p.error, span.error {
	color: red;
}

.space-head {
	border-bottom: 1px solid #E1E1E8;
}

.space-col-left {
	border-right: 1px solid #E1E1E8;
}

.tag {
	display: inline-block;
	border: none;
	padding: 1px 10px 1px 10px;
	margin: 5px;
	background: #474949;
	border-radius: .25em;
}

.tag a {
	color: white;
}

.tag a:hover {
	color: white;
}

.tag .tag-delete {
	margin-right: -5px;
}

.space-head {
	border-bottom: 1px solid #E1E1E8;
}

.space-col-right {
	padding-left: 50px;
}

.tag-first-char {
	font-size: 3em;
	bottom: -1em;
	font-weight: bold;
}

.input-table-cell {
	padding-top: 10px;
	padding-bottom: 10px;
}

.horizontal-radio {
	margin-right: 25px;
}

/* required to get comments to span the entire width of the container */
.media .media-body {
	width: 10000px;
}

.featurette {
	margin-top: 50px;
}

.popup-content {
	max-height: 200px;
	overflow-x: hidden;
}

.instrument-delete {
	padding: 20px 16px 0 10px;
}

table#sensorsListTable>thead>tr>th {
	min-width: 80px;
}

table#sensorsListTable>thead>tr>th.headerSortUp {
	background-color: #bcbcbc
}

table#sensorsListTable>thead>tr>th.headerSortDown {
	background-color: #bcbcbc;
}

.box-white-space {
	padding: 30px 0px 0px 0px;
}

#file-pane-buttons {
	margin-top: 10px;
	margin-left: 20px;
}

#ds-title {
	margin-bottom: 10px;
}

#license-img {
	height: 25px;
}

#number-displayed-dropdown{
	display:inline;
	float:left;
	margin-top:3px;
	margin-right:5px;
}

.bottom-padding {
	padding-bottom: 15px;
}

.top-padding {
	padding-top: 15px;
}

.vertical-align {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.space-banner {
	height: 200px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.space-banner-logo {
	max-height: 100px;
	max-width: 200px;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.dataset-preview {
	padding: 20px 0px;
}

.img_wrapper {
	position: relative;
	width: 128px;
	height: 128px;
	margin: 5px;
	display: inline-block;
}

.img_hover {
	position: absolute;
	width: 128px;
	height: 128px;
	background-color: #ffa500;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
	padding-top: 40%;
	text-align: center;
	text-color: #fff;
}

.img_wrapper:hover>.img_hover {
	opacity: 0.9;
}

.img_thumbnail {
	height: 128px;
	width: 128px;
	border: 1px solid #d3d3d3;
	padding: 3px;
	border-radius: 5px;
}

#scrollTableGalleria {
	width: 100%;
}

#scrollTableGalleria tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

#scrollTableGalleria tbody {
	overflow-y: auto;
}

#scrollTableGalleria tbody td, #scrollTableGalleria thead th {
	float: left;
}

#scrollTableGalleria .galleriaOrder {
	width: 5%;
}

#scrollTableGalleria .galleriaTheThumbnail {
	width: 20%;
}

#scrollTableGalleria .galleriaPosition {
	width: 20%;
}

#scrollTableGalleria .galleriaDescr {
	width: 35%;
}

#scrollTableGalleria .galleriaFindSimilar {
	width: 20%;
}

#scrollTableGalleria thead {
	width: 98%;
}

/* any custom CSS will override the Galleria theme. Here we enlarge the thumbnails: */
.galleria-thumbnails .galleria-image{width:90px;height:60px;}
.galleria-thumbnails-list{height:60px;}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right{height:55px;}
.galleria-info,
.galleria-counter{bottom:80px;}
.galleria-thumbnails-container { height: 62px;}

.galleriaHelp{margin-bottom: 1%;}

.galleria-fscr {
	position: absolute;
	bottom: 2%;
	right: 2%;
	z-index: 4;
	cursor: pointer;
	font-size: 25px;
	color: #bbb;
}

.galleria-fscr:before {
	font-family: "Glyphicons Halflings";
	content: "\e140";
	line-height: 1;
	margin: 5px;
}

.galleria-fscr:hover {
	color: #fff;
}

.galleria-fscr:active {
	color: #fff;
}

.md-block {
	padding: 5px 0px;
	margin: 0px;
	text-align: left;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.collapse-icon:link, .collapse-icon:visited, .collapse-icon:hover, .collapse-icon:active  {
	text-decoration: none;
    cursor: pointer; cursor: hand;
}

.tree li {
	list-style-type: none;
}

.space-pills {
	display: inline-block;
	border: none;
	padding: 1px 10px 1px 10px;
	margin: 5px;
	background: #eeeeee;
	border-radius: .25em;
}

.space-pills a {
	color: white;
}

.space-pills a:hover {
	color: white;
}

.inline {
	display: inline;
}

.edit-tab {
	margin-left: 5px;
}

.align-right {
	float: right;
}

.prevIframeWrap {
	width: 36em;
	height: 27em;
	padding: 0;
	overflow: hidden;
	align-content: center;
}

.prevIframe {
	width: 72em;
	-moz-transform: scale(0.5);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.5);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	height: 54em;
	border: none;
    background-image: url("../javascripts/previewers/iframe/images/iframe_error.jpg");
	background-size: cover;
}

.iframeLink {
	position: relative;
	top: -27em;
	width: 36em;
	height: 30em;
	display: block;
	margin-bottom: -26em;
	border: 1px solid grey;
}

.iframeLink:hover {
	opacity: 0.5;
}

.iframeBtn {
	bottom: -27em;
	position: relative;
	left: 17em;
}

.iframeModalDiv {
	width: 72%;
	overflow: hidden !important;
	position: fixed !important;
	left: 14% !important;
	top: 5% !important;
}

.iframeModal {
	/* 	height: 60em; */
	/* 	width: 100%; */
	
}

.iframeModalDivInternal {
	position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.iframeModalDivInternal iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.iframeClose {
	font-size: 30px !important;
	margin-top: -5px !important;
}

/* For the nested table in the 'users' view, under collections */
table#user-space-role>thead>tr>th {
	vertical-align: middle;
}

table#nested-space-role-headers {
	margin: 0;
}

table#nested-space-role-headers>thead>tr>th {
	border: none;
	padding: 0;
}

table#nested-space-role-pairs>tbody>tr:first-child {
	border-top-style: hidden;
}

table#nested-space-role-pairs>tbody>tr>td {
	padding: 0;
}

table.borderless tbody tr td, table.borderless tbody tr th {
	border: none;
}

.upload-files-buttons {
	padding-top: 20px;
}

.margin-top-h {
	margin-top: 30px;
}

.center-glyphicon {
	display: block;
	text-align: center;
}

.center-margin {
	text-align: center;
	margin: 0.5em;
}
/*.black-border {*/
/*border: 2px solid black;*/
/*display:block;*/
/*padding:10px;*/
/*}*/
.green {
	color: green;
}

.red {
	color: red;
}

.yellow {
	color: GoldenRod;
}

.indent_20 {
	margin-left: 20px;
}

.submitted {
	background-color: #dff0d8 !important;
}

.in-curation {
	background-color: #fcf8e3 !important;
}

.publish {
	background-color: #dcdcdc !important;
}

#user-space-role .table {
	margin-bottom: 0px;
}

.form-md {
	padding: 10px 0px;
}

.add-resource {
	width: 240px !important
}

.tag-padding {
	padding-right: 15px;
}

.fixedtable {
	table-layout: fixed;
	word-wrap: break-word;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.button-margins {
	margin: 20px 0px;
}

.panel .pull-left .glyphicon {
	margin-left: 5px;
}

/* custom class for noty notification, position of a close x */
.close-notify {
	font-weight: bold;
	position: absolute;
	top: 2px;
	right: 5px;
}

#curationObjectFieldSet .creators .control-group {
	display: inline-block;
	width: 85%;
}

#curationObjectFieldSet .creators .creator-delete {
	display: inline-block;
	margin-left: 10px;
}

#curationObjectFieldSet .creators .creator-add {
	display: inline-block;
	margin-left: 10px;
}

.bigicon {
	padding: 20px;
	font-size: 55px;
}

.smallicon {
	padding: 2px 5px 5px 20px;
	font-size: 30px;
}

.smallthumbnail {
	padding: 5px 5px 5px 20px;
	width: 55px;
}

.valign-link {
	padding-top: 20px;
}

.profile-section {
	margin-top: 5px;
}

.profile-disclaimer {
	margin: 30px 0px;
}

.more-events {
	margin: 50px 0px;
}

.glyphicon-stack {
	position: relative;
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	line-height: 0.75em;
	vertical-align: middle;
}

.glyphicon-circle {
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: black;
}

.green-background {
	background-color: green;
}

.goldenrod {
	background-color: goldenrod;
}

#folderpath {
	margin-top:-18px;
	display:inline-block;
	min-width:72%;
}
.sortchoice {
	float:right;
}

.sortable-placeholder-highlight {
	display:inline-block;
	width:10px;
	background-color: #cb4f00;
}

.creator-delete {
	color:#2e6ca2;
}

.creator-label {
	display: inline;
}

.creator {
	margin-right: 5px;
}

.select2-rendered__match {
  font-weight: bold;
}

#creatorAddSelect {
	width:90%!important;
}

.published {
	max-height: 250px;
	overflow-y: auto;
	display: inline-flex;
	width: 90%;
	margin-bottom: 10px;
	padding: 5px;
}

.abstract {
	display: inline-block;
	max-height: 250px;
	max-width: 100%;
	overflow-y: auto;
	overflow-wrap: break-word;
	margin-bottom: -5px;
	margin-block-end: -5px;
	margin-block-start: 1px;
	margin-bottom: -5px;
}

.abstractsummary {
	display: inline-block;
	max-height: 250px;
	max-width: 100%;
	overflow-y: auto;
	overflow-wrap: break-word;
	margin-bottom: -5px;
	margin-block-end: -5px;
	margin-block-start: 1px;
	margin-bottom: -5px;
}

.abstract-panel {
	padding: 6px 12px 6px 0px;
	min-width: 100%;
	margin-bottom: 0px !important;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
}
