@(metadata: List[models.Metadata], toDelete: Boolean)(implicit user: Option[models.User])
@import java.net.URL
@import play.api.libs.json.JsString
@import play.api.libs.json.JsObject
@import play.api.libs.json.JsValue
@import play.api.libs.json.JsArray
@import api.Permission

@dateFormatter(date: java.util.Date) = @{
val formatter = new java.text.SimpleDateFormat("MMM d, yyyy")
formatter.format(date)
}

@printContent(agent: Agent, content: JsValue, contextId: Option[UUID], contextURL: Option[URL], resourceId: UUID) = {
@content match {
case o: JsObject => {
<ul>
    @for((key, value) <- o.fields) {
    @value match {
    case o: JsObject => {
    <li class="md-block">
        <a class="collapse-icon">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        <!-- only with context and user (not extractor) generated -->
        @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
        <!-- ids don't like spaces, you can use regex for removing different characters in metadata names (key) as well -->
        @defining(contextId.get + key.replaceAll("[() ]","") + resourceId.toString()) { mid =>
        @if(user.isDefined) {
        <a id='@mid' href="javascript:void(0)"
           onmouseover="getMetadataContext('@mid','@contextId.get','@key');"
           onmouseout="leaveMetadataContext('@mid');">
            <strong>@key:</strong></a>
        } else {
        <strong>@key:</strong>
        }
        @printContent(agent,value,contextId,contextURL,resourceId)
        }
        } else {
        @contextURL match {
        case Some(u) => {
        <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
        @printContent(agent, value,contextId,contextURL,resourceId)
        }
        case None => {
        <strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)
        }
        }
        }
    </li>
    }
    case o: JsArray => {
    <li class="md-block">
        <a class="collapse-icon">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
        @defining(contextId.get + key.replaceAll("[() ]","") + resourceId.toString()) { mid =>
        @if(user.isDefined) {
        <a id='@mid' href="javascript:void(0)"
           onmouseover="getMetadataContext('@mid','@contextId.get','@key');"
           onmouseout="leaveMetadataContext('@mid');">
            <strong>@key:</strong></a>
        } else {
        <strong>@key:</strong>
        }
        @printContent(agent,value,contextId,contextURL,resourceId)
        }
        } else {
        @contextURL match {
        case Some(u) => {
        <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
        @printContent(agent,value,contextId,contextURL,resourceId)
        }
        case None => {
        <strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)
        }
        }
        }
    </li>
    }
    case _ => {
    <li class="md-block">
        @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
        @defining(contextId.get + key.replaceAll("[() ]","") + resourceId.toString()) { mid =>
        @if(user.isDefined) {
        <a id='@mid' href="javascript:void(0)"
           onmouseover="getMetadataContext('@mid','@contextId.get','@key');"
           onmouseout="leaveMetadataContext('@mid');">
            <strong>@key:</strong></a>
        } else {
        <strong>@key:</strong>
        }
        @printContent(agent,value,contextId,contextURL,resourceId)
        }
        } else {
        @contextURL match {
        case Some(u) => {
        <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
        @printContent(agent,value,contextId,contextURL,resourceId)
        }
        case None => {<strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)}
        }
        }
    </li>
    }
    }

    }
</ul>
}
case a: JsArray => {
<ul>
    @for((value, i) <- a.value.zipWithIndex) {
    <li class="md-block">@printContent(agent,value,contextId,contextURL,resourceId)</li>
    }
</ul>
}
case s: JsString => {
@if(s.value.startsWith("http")) {
<a target="_blank" href="@s.value">@s.value</a>
} else {
@s.value
}
}
case _ => {@content}
}
}

@printHeader(agent: Agent, date: java.util.Date, resourceId: UUID, mid: UUID) = {
@agent.operation by
@if(agent.displayName.length > 0) {
@if(agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
@defining(resourceId.toString() + mid.toString()) { aid =>
@if(user.isDefined) {

<a id='@aid' href="@routes.Profile.viewProfileUUID(agent.id)"
   onmouseover="getAgentContext('@aid','@agent.id');"
   onmouseout="leaveAgentContext('@aid');">@agent.displayName</a>
} else {
@agent.displayName
}

}
} else {
@if(!agent.url.isDefined) {
<a href="@agent.url" target="_blank">@agent.displayName</a>
} else {
@agent.displayName
}
}
} else {
@if(agent.url.isDefined) {
<a href="@agent.url" target="_blank">@agent.url</a>
} else {
unknown
}
}
on @dateFormatter(date)
}

@if(metadata.size == 0) {
<p class="text-center">No metadata available for this resource</p>
}
@for((m, i) <- metadata.zipWithIndex) {
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_@m.id">
        <a data-toggle="collapse" href="#collapse_@m.id" class="collapse-icon">
            <span class="panel-icon glyphicon glyphicon-minus"></span>
        </a>
                <span>
                    @printHeader(m.creator, m.createdAt, m.attachedTo.id, m.id)
                </span>
        @if(toDelete && Permission.checkPermission(Permission.DeleteMetadata, ResourceRef(ResourceRef.metadata, m.id))) {
        <a id="@m.id" title="Delete this metadata" class="btn btn-link delete-icon">
            <span class="panel-icon glyphicon glyphicon-trash"></span>
        </a>
        }
    </div>
    <div id="collapse_@m.id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@m.id">
        <div class="panel-body">
            <div class="tree">
                @printContent(m.creator, m.content, m.contextId, m.contextURL, m.attachedTo.id)
            </div>
        </div>
    </div>
</div>
}

<script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $('.collapse')
            .on('shown.bs.collapse', function(){
                $(this).parent().find(".panel-icon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            })
            .on('hidden.bs.collapse', function(){
                $(this).parent().find(".panel-icon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
            });

    $('.tree li').on('click', function (e) {
        //console.log("clicked");
        var children = $(this).find('> ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        } else {
            children.show('fast');
            $(this).find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }
        e.stopPropagation();
    });
})

$(function () {
    $('.delete-icon').unbind().on('click', function(){
        var delete_icon = $(this);

        var request = jsRoutes.api.Metadata.removeMetadata(this.id).ajax({
            type: 'DELETE'
        });

        request.done(function (response, textStatus, jqXHR) {
            //console.log("success");
            delete_icon.closest(".panel").remove();
        });

        request.fail(function (jqXHR, textStatus, errorThrown){
            console.error("The following error occured: " + textStatus, errorThrown);
            var errMsg = "You must be logged in to add metadata";
            if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                notify("Metadata was not removed due to : " + errorThrown, "error");
            }
        });
    });
})

// get metadata definitions
function getMetadataContext(mid, uuid, key) {
    var request = jsRoutes.api.ContextLD.getContextById(uuid).ajax({
        type: 'GET',
        contentType: "application/json"
    });

    request.done(function (response, textStatus, jqXHR) {
        var fields = response;
        var context = "Context is not defined.";
        if (fields['@@context']) {
            context = JSON.stringify(fields['@@context'][key]);
        }
        //console.log(context);
        $("#"+mid).popover({
            content:context,
            trigger:'hover',
            placement:'top',
            template: '<div class="popover" role="tooltip" style="max-width:600px;word-break:break-all"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
        });
        $("#"+mid).popover('show');
    });

    request.fail(function (jqXHR, textStatus, errorThrown){
        console.error("The following error occured: " + textStatus, errorThrown);
        var errMsg = "You must be logged in to retrieve metadata definitions";
        if (!checkErrorAndRedirect(jqXHR, errMsg)) {
            notify("Metadata context was not shown due to : " + errorThrown, "error");
        }
    });
}
function leaveMetadataContext(mid) {
    $("#"+mid).popover('hide');
}

// get agent author definitions
function getAgentContext(aid, uuid) {
    var request = jsRoutes.api.Users.findById(uuid).ajax({
        type: 'GET',
        contentType: "application/json"
    });

    request.done(function (response, textStatus, jqXHR) {
        var fields = response;
        //console.log(fields['fullName']);
        $("#"+aid).popover({
            content:fields['email'],
            trigger:'hover',
            placement:'top',
            template: '<div class="popover" role="tooltip" style="max-width:600px;word-break:break-all"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
        });
        $("#"+aid).popover('show');
    });

    request.fail(function (jqXHR, textStatus, errorThrown){
        console.error("The following error occured: " + textStatus, errorThrown);
        var errMsg = "You must be logged in to retrieve metadata definitions";
        if (!checkErrorAndRedirect(jqXHR, errMsg)) {
            notify("Agent metadata context was not shown due to : " + errorThrown, "error");
        }
    });
}
function leaveAgentContext(aid) {
    $("#"+aid).popover('hide');
}
</script>