@(metadata: List[models.Metadata], toDelete: Boolean)(implicit user: Option[models.User])
@import java.net.URL
@import play.api.libs.json.JsString
@import play.api.libs.json.JsObject
@import play.api.libs.json.JsValue
@import play.api.libs.json.JsArray
@import api.Permission

@dateFormatter(date: java.util.Date) = @{
    val formatter = new java.text.SimpleDateFormat("MMM d, yyyy")
    formatter.format(date)
}

@printContent(agent: Agent, content: JsValue, contextId: Option[UUID], contextURL: Option[URL], resourceId: UUID) = {
@content match {
    case o: JsObject => {
        <ul>
        @for((key, value) <- o.fields) {
            @value match {
                case o: JsObject => {
                    <li class="md-block">
                        <a class="collapse-icon">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                            <!-- only with context and user (not extractor) generated -->
                        @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
                            <!-- ids don't like spaces, you can use regex for removing different characters in metadata names (key) as well -->
                        @defining(contextId.get + key.replaceAll("[() ]","") + resourceId.toString()) { mid =>
                            @if(user.isDefined) {
                                <a id='@mid' href="javascript:void(0)"
                                onmouseover="getMetadataContext('@mid','@contextId.get','@key');"
                                onmouseout="leaveMetadataContext('@mid');">
                                    <strong>@key:</strong></a>
                            } else {
                                <strong>@key:</strong>
                            }
                            @printContent(agent,value,contextId,contextURL,resourceId)
                        }
                        } else {
                    @contextURL match {
                        case Some(u) => {
                            <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
                            @printContent(agent, value,contextId,contextURL,resourceId)
                        }
                        case None => {
                            <strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)
                        }
                    }
                    }
                    </li>
                }
                case o: JsArray => {
                    <li class="md-block">
                        <a class="collapse-icon">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                        @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
                            @defining(contextId.get + key.replaceAll("[() ]","") + resourceId.toString()) { mid =>
                                @if(user.isDefined) {
                                    <a id='@mid' href="javascript:void(0)"
                                    onmouseover="getMetadataContext('@mid','@contextId.get','@key');"
                                    onmouseout="leaveMetadataContext('@mid');">
                                        <strong>@key:</strong></a>
                                } else {
                                    <strong>@key:</strong>
                                }
                                @printContent(agent,value,contextId,contextURL,resourceId)
                            }
                        } else {
                            @contextURL match {
                                case Some(u) => {
                                    <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
                                    @printContent(agent,value,contextId,contextURL,resourceId)
                                }
                                case None => {
                                    <strong>@key:</strong> @printContent(agent,value,contextId,contextURL,resourceId)
                                }
                            }
                        }
                    </li>
                }
                case _ => {
                        <!--                                 <li class="md-block">
 -->                                @if(contextId.isDefined && agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
                        @defining(contextId.get + key.replaceAll("[() ]","") + resourceId.toString()) { mid =>
                            @if(user.isDefined) {
                                <a id='@mid' href="javascript:void(0)"
                                onmouseover="getMetadataContext('@mid','@contextId.get','@key');"
                                onmouseout="leaveMetadataContext('@mid');">
                                    <strong>@key:</strong></a>
                            } else {
                                <strong>@key:</strong>
                            }
                            @printContent(agent,value,contextId,contextURL,resourceId)
                        }
                    } else {
                        @contextURL match {
                            case Some(u) => {
                                <a href="@u.toString" target="_blank" title="Show context reference"><strong>@key:</strong></a>
                                @printContent(agent,value,contextId,contextURL,resourceId)
                            }
                            case None => { @printContent(agent,value,contextId,contextURL,resourceId)}
                        }
                    }
                        <!--                                 </li>
 -->                            }
            }

        }
        </ul>
    }
    case a: JsArray => {
        <ul>
        @for((value, i) <- a.value.zipWithIndex) {
            <li class="md-block">@printContent(agent,value,contextId,contextURL,resourceId)</li>
        }
        </ul>
    }
    case s: JsString => {
        @if(s.value.startsWith("http")) {
            <a target="_blank" href="@s.value">@s.value</a>
        } else {
            @s.value
        }
    }
    case _ => {@content}
}
}

@printHeader(agent: Agent, date: java.util.Date, resourceId: UUID, mid: UUID) = {
@agent.operation by
@if(agent.displayName.length > 0) {
    @if(agent.typeOfAgent.toLowerCase().indexOf("user") >= 0) {
        @defining(resourceId.toString() + mid.toString()) { aid =>
            @if(user.isDefined) {

                <a id='@aid' href="@routes.Profile.viewProfileUUID(agent.id)"
                onmouseover="getAgentContext('@aid','@agent.id');"
                onmouseout="leaveAgentContext('@aid');">@agent.displayName</a>
            } else {
                @agent.displayName
            }

        }
    } else {
        @if(!agent.url.isDefined) {
            <a href="@agent.url" target="_blank">@agent.displayName</a>
        } else {
            @agent.displayName
        }
    }
} else {
    @if(agent.url.isDefined) {
        <a href="@agent.url" target="_blank">@agent.url</a>
    } else {
        unknown
    }
}
    on @dateFormatter(date)
}

@if(metadata.size == 0) {
        <!--         <p>No metadata available for this resource</p>
 -->    }
@for((m, i) <- metadata.zipWithIndex) {
    <div class="panel panel-default metaDataPanel">
        <div class="panel-heading" role="tab" id="heading_@m.id">
            <a data-toggle="collapse" href="#collapse_@m.id" class="collapse-icon">
                <span class="panel-icon glyphicon glyphicon-minus"></span>
            </a>
            <span>
            @printHeader(m.creator, m.createdAt, m.attachedTo.id, m.id)
            </span>
            @if(toDelete && Permission.checkPermission(Permission.DeleteMetadata, ResourceRef(ResourceRef.metadata, m.id))) {
                <a id="@m.id" title="Delete this metadata" class="btn btn-link delete-icon">
                    <span class="panel-icon glyphicon glyphicon-trash"></span>
                </a>
            }
        </div>
        <div id="collapse_@m.id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@m.id">
            <div class="panel-body">
                <div class="tree">

                    <a  href="#" class="btn btn-success btn-large" data-toggle="modal" data-target="#metadataModal" id="editMetaData" title="Dataset metadata">
                        <span class="glyphicon glyphicon-plus"></span> View | Edit
                    </a>

                </div>
            </div>
        </div>
    </div>
}

    <!-- Modal -->
<div id="metadataModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dataset Metadata</h4>
            </div>
            <div id="custMenu">
                <div class="form-group padTop">
                    <div class="showTemplates">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Select a template:</label><br />
                                    <select class="templates form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="metaDataSettings">
            </div>

                <!--             <div class="modal-body2" style="padding:20px;">
            </div>
 -->            <div class="templateData modal-body">
                <!--Template boxes will be added here -->
            <br />
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success pull-left" id="addMetaData">Add New</button>

                <button type="button" class="btn btn-success" id="submitMetaData" data-dismiss="modal">Submit</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
<script>

        $(document).ready(function() {

            $(".nav-tabs > li.active").removeClass("active")
            var url = window.location.href;
            let params = new URLSearchParams(location.search.slice(1));

            if (url.indexOf("?") >= 0){
                for (let p of params) {
                    if (p[0] === "ds"){
                        $("#tab-metadata1").addClass("active");
                        $("#tab-metadata").addClass("active");
                        console.log("MD");
                    }else{
                        $("#tab-files1").addClass("active");
                        $("#tab-files").addClass("active");
                        console.log("NOT MD");

                    }
                }
            }else{
                $("#tab-files1").addClass("active");
                $("#tab-files").addClass("active");
            }

        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.collapse')
                    .on('shown.bs.collapse', function(){
                        $(this).parent().find(".panel-icon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                    })
                    .on('hidden.bs.collapse', function(){
                        $(this).parent().find(".panel-icon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                    });

            $('.tree li').on('click', function (e) {
                //console.log("clicked");
                var children = $(this).find('> ul > li > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                } else {
                    children.show('fast');
                    $(this).find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                }
                e.stopPropagation();
            });
        })

        $(document).on('click', '#editMetaData', function(e){
            $(".modal-body").empty();
            get4ceedMetaData();
        });

        $(document).on('click', '#addMetaData', function(e){
            var div = $("<div />");
            div.html(createDiv());
            $(".modal-body").append(div);
        });

        $('#metadataModal').on('hidden.bs.modal', function () {
            // window.location.search = 'ds';
        })

        $(document).on('click', '#submitMetaData', function(e){
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);

            checkIfDatasetAttachedTemplate();
            location.reload();            
        });

        //Should we show a template for this dataset?
        function get4ceedMetaData() {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            $.ajax({
                url: jsRoutes.api.T2C2.getDatasetWithAttachedVocab(id).url,
                type:"GET",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                success: function(data){
                    if (data.template.id === "none"){
                        // console.log(data.template.id);
                    }else{
                        createBoxesForPreviousDataset(data);
                    }
                }
            })

        }

        //Does this ds have a template?
        function checkIfDatasetAttachedTemplate() {

            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);

            $.ajax({
                url: jsRoutes.api.Datasets.hasAttachedVocabulary(id).url,
                type:"GET",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                success: function(data){
                    if (data.length > 0){
                        edit4CeedMetaData(data[0].id);
                    }else{
                        postTemplate(false, id);
                    }

                }
            })

        }

        function postTemplate(templateType, datasetID){

            var templateTerms = buildTemplate();
            var tagName = $('.tagName').val();//.toUpperCase();
            var shareTemplate = $('#checkShareTemplate').is(":checked");
            var datasetName = $(" .datasetName").val();
            var templateType = "false"; //templateType.toString();
            $.ajax({
                url: jsRoutes.api.Vocabularies.createVocabularyFromJson(shareTemplate).url,
                type:"POST",
                data: JSON.stringify({ name: datasetName, terms: templateTerms, tags: tagName, master: templateType}),
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                success: function(data){
                    addTemplateToDataset(datasetID, data.id);
                },
                error: function(xhr, status, error) {
                    swal({
                        title: "Error",
                        text: "There was a problem creating this template",
                        type: "error",
                        timer: 1500,
                        showConfirmButton: false
                    });
                }
            })
        }

        function buildTemplate() {
            var metaDataKeys = $.map($(' .metaDataKey'), function (el) { return el.value; });
            var metaDataVals = $.map($(' .metaDataVal'), function (el) {return el.value;});
            var metaDataUnits = $.map($(' .metaDataUnit'), function (el) {return el.value;});
            var metaDataTypes = $.map($(' .metaDataType'), function (el) {return el.value;});
            var requireField = $.map($(' .requireField'), function (el) {return el.value;});

            var arr = [];

            $.each(metaDataKeys, function (idx, keyName) {
                if (keyName != ''){
                    var objCombined = {};
                    objCombined['key'] = keyName;
                    objCombined['units'] = metaDataUnits[idx];;
                    objCombined['data_type'] = metaDataTypes[idx];;
                    objCombined['default_value'] = metaDataVals[idx];
                    objCombined['required'] = requireField[idx];

                    arr.push(objCombined);
                }
            });
            return(arr);

        }

        function addTemplateToDataset(datasetid, templateID){
            var url = "/t2c2/templates/" + templateID + "/attachToDataset/" + datasetid + "";
            $.ajax({
                url: url,
                // url: jsRoutes.T2C2.attachVocabToDataset(templateID,datasetid).url,
                type:"PUT",
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                data: JSON.stringify({ template_id: templateID, dataset_id: datasetid}),
                success: function(data){
                    //console.log("attaching");
                },
                error: function(xhr, status, error) {
                }

            })

        }

        function edit4CeedMetaData(templateId) {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);

            var templateTerms = buildTemplate();
            var tagName = ""; //$('.metaDataTags').val().toUpperCase();
            var datasetName = ""; //$(".metaDataName").val();
            var datasetDescription = ""; //$(".metaDataDesc").val();
            var templateId = templateId;

            // console.log(templateTerms);
            // console.log(templateId);
            $.ajax({
                url: jsRoutes.api.Vocabularies.editVocabulary(templateId).url,
                type:"PUT",
                dataType: "json",
                data: JSON.stringify({name: datasetName, description: datasetDescription, tags: tagName, isPublic: false, terms: templateTerms, attached_dataset: templateId}),
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                success: function(data){
                },
                error: function(xhr, status, error) {
                }

            })
        }

        function buildTemplate() {
            var metaDataKeys = $.map($('.metaDataKey'), function (el) { return el.value; });
            var metaDataVals = $.map($('.metaDataVal'), function (el) {return el.value;});
            var metaDataUnits = $.map($('.metaDataUnit'), function (el) {return el.value;});

            var arr = [];

            $.each(metaDataKeys, function (idx, keyName) {
                if (keyName != ''){
                    var objCombined = {};
                    objCombined['key'] = keyName;
                    objCombined['units'] = metaDataUnits[idx];;
                    objCombined['default_value'] = metaDataVals[idx];
                    arr.push(objCombined);
                }
            });
            return(arr);

        }

        $(function () {
            $('.delete-icon').unbind().on('click', function(){
                var delete_icon = $(this);

                var request = jsRoutes.api.Metadata.removeMetadata(this.id).ajax({
                    type: 'DELETE'
                });

                request.done(function (response, textStatus, jqXHR) {
                    //console.log("success");
                    delete_icon.closest(".panel").remove();
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to add metadata";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                        notify("Metadata was not removed due to : " + errorThrown, "error");
                    }
                });
            });
        })

        // get metadata definitions
        function getMetadataContext(mid, uuid, key) {
            var request = jsRoutes.api.ContextLD.getContextById(uuid).ajax({
                type: 'GET',
                contentType: "application/json"
            });

            request.done(function (response, textStatus, jqXHR) {
                var fields = response;
                var context = "Context is not defined.";
                if (fields['@@context']) {
                    context = JSON.stringify(fields['@@context'][key]);
                }
                $("#"+mid).popover({
                    content:context,
                    trigger:'hover',
                    placement:'top',
                    template: '<div class="popover" role="tooltip" style="max-width:600px;word-break:break-all"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                });
                $("#"+mid).popover('show');
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to retrieve metadata definitions";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                    notify("Metadata context was not shown due to : " + errorThrown, "error");
                }
            });
        }
        function leaveMetadataContext(mid) {
            $("#"+mid).popover('hide');
        }

        // get agent author definitions
        function getAgentContext(aid, uuid) {
            var request = jsRoutes.api.Users.findById(uuid).ajax({
                type: 'GET',
                contentType: "application/json"
            });

            request.done(function (response, textStatus, jqXHR) {
                var fields = response;
                //console.log(fields['fullName']);
                $("#"+aid).popover({
                    content:fields['email'],
                    trigger:'hover',
                    placement:'top',
                    template: '<div class="popover" role="tooltip" style="max-width:600px;word-break:break-all"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                });
                $("#"+aid).popover('show');
            });

            request.fail(function (jqXHR, textStatus, errorThrown){
                console.error("The following error occured: " + textStatus, errorThrown);
                var errMsg = "You must be logged in to retrieve metadata definitions";
                if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                    notify("Agent metadata context was not shown due to : " + errorThrown, "error");
                }
            });
        }

        function leaveAgentContext(aid) {
            $("#"+aid).popover('hide');
        }

        function createBoxesForPreviousDataset(data){
            var div1 = "<div><input type='hidden' id='templateId' value="+data.template.id+" /></div>";
            $(".modal-body").append(div1);

            // var div2 = $("<div />");
            // div2.html(createOtherDiv(data.template.name, data.template.description, data.template.tags));
            // $(".modal-body2").append(div2);

            $.each(data.template.terms, function(i, val) {
                var div3 = $("<div />");
                div3.html(createDiv(val.key, val.default_value, val.units));
                $(".modal-body").append(div3);
            });
        }

        function counter() {
            var count = 0;

            this.reset = function() {
                count = 0;
                return count;
            };

            this.add = function() {
                return ++count;
            };
        }

        $("body").on("click", ".remove", function () {
            $(this).closest(".top-buffer").remove();
        });

        var counter1 = new counter();


        //Create dynamic textbox
        function createOtherDiv(name, desc, tags) {
            var valKeyName = $.trim(name);
            var valStr = $.trim(desc);
            var valUnits = $.trim(tags);

            return '<div class="row top-buffer"><div class="col-xs-4"><b>' + "<label for='metaDataName'>Name: " + '</b></label>' +
                    '<input class="metaDataName form-control" name="metaDataName" id="metaDataName" type="text" value=' + valKeyName.replace(/ /g,"&nbsp;") +'></div>' +

                    '<div class="col-xs-4"><b>' + "<label for='metaDataDesc'>Description:</b></label>" +
                    '<input class="metaDataDesc form-control" name="metaDataDesc" id="metaDataDesc" type="text" value=' + valStr.replace(/ /g,"&nbsp;") +'></div>' +

                    '<div class="col-xs-4"><b>' + "<label for='metaDataTags'>Tags: " + '</label></b>' +
                    '<input class="metaDataTags form-control" name="metaDataTags" id="metaDataTags" type="text" value=' + valUnits.replace(/ /g,"&nbsp;") +'></div></div><br />'

        }

        //Create dynamic textbox
        function createDiv(keyName, val, units) {
            //console.log(keyName, val, units);
            var valKeyName = $.trim(keyName);
            var valStr = $.trim(val);
            var valUnits = $.trim(units);

            //format text
            var txtToWrite = "Value";

            var i = counter1.add();
            return '<div class="row top-buffer"><div class="col-xs-6"><b>' + "<label for='name'>Key: " + '</b></label>' +
                    '<input class="metaDataKey form-control" name="metaDataKey' + i + '" id="metaDataKey' + i + '" type="text" value=' + valKeyName.replace(/ /g,"&nbsp;") +'></div>' +

                    '<div class="col-xs-2" style="margin-left:-15px;"><b>' + "<label for='val'>"+ txtToWrite + '</b></label>' +
                    '<input class="metaDataVal form-control" name="metaDataVal' + i + '" id="metaDataVal' + i + '" type="text" value=' + valStr.replace(/ /g,"&nbsp;") +'></div>' +


                    '<div class="col-xs-2"><b>' + "<label for='name'>Units: " + '</label></b>' +
                    '<input class="metaDataUnit form-control" name="metaDataUnit' + i + '" id="metaDataUnit' + i + '" type="text" value=' + valUnits.replace(/ /g,"&nbsp;") +'></div>' +

                    '<div class="col-xs-1" style="margin-left:-15px;"><b>' + "<label for='val'>&nbsp;" + '</label></b>' +
                    '<input type="button" style="background-color:#d9534f;" value="Remove" class="remove btn btn-danger btnRemove" name="btnRemove' + i + '" id="btnRemove' + i + '"></div>' +
                    '<span class="up"></span><span class="down"></span></div>'

        }

        function moveUp(element) {
            if(element.previousElementSibling)
                element.parentNode.insertBefore(element, element.previousElementSibling);
        }
        function moveDown(element) {
            if(element.nextElementSibling)
                element.parentNode.insertBefore(element.nextElementSibling, element);
        }
        document.querySelector('ul').addEventListener('click', function(e) {
            if(e.target.className === 'down') moveDown(e.target.parentNode);
            else if(e.target.className === 'up') moveUp(e.target.parentNode);
        });

        //TEMPLATES
        function getTemplates() {
            $.ajax({
                url: jsRoutes.api.Vocabularies.list().url,
                type:"GET",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                success: function(data){
                    //console.log("yes");
                    $('<option>').val('').text('--Select One--').appendTo('.templates');
                    showTemplates(data);
                },
                error: function(xhr, status, error) {
                    //console.log("no");
                    swal({
                        title: "Error",
                        text: "There was a problem returning custom templates",
                        type: "error",
                        timer: 1500,
                        showConfirmButton: false
                    });
                }
            })

        }

        //Load user templates
        function showTemplates(data) {
            console.log(data);

            $.each(data, function(key, val) {

                $(".templates").append($("<option class='placeholder'></option>").val(val.id).html(val.name));
            });

            $(".templates").focus();
        }

        function getTemplate(id){
            $.ajax({
                url: jsRoutes.api.T2C2.getVocabulary(id).url,
                type:"GET",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Accept", "application/json");
                },
                success: function(data){
                    createBoxes(data);
                },
                error: function(xhr, status, error) {
                    swal({
                        title: "Error",
                        text: "There was a problem returning global templates",
                        type: "error",
                        timer: 1500,
                        showConfirmButton: false
                    });
                }
            })
        }

        function createBoxes(data){
            $(".templateData").empty();
            $(".btnDataset").show();
            $(".btnAdd").show();
            $("#btnTemplate").show();
            $(".otherOptions").show();
            var menuName = $('.nav-tabs .active > a').attr("href");
            //Get current tab and use name to determine what the label will say based on it's tab
            console.log(menuName);
            $.each(data.terms, function(key, val) {
                var div = $("<div />");
                div.html(createDiv(val.key, val.default_value, val.units, val.data_type, val.required));
                $(menuName + ' ' + ".templateData").append(div);
            });

            // disableRequiredInput();

        }

        //Handle template load when new menu item is selected
        $(document).on('change', '.templates', function(){

            var id = $(this).val();

            // $(".tagTemplates").val([]);
            // $(".tagData").hide();
            // $(".globalTemplates").val([]);
            // $(".templateSearch").val('');

            if (id != ''){
                getTemplate(id);
            }
        });
        getTemplates();

</script>