@(displayedName: String,  newsfeed: List[models.Event], profile:User, datasetsList: List[Dataset],  dscomments: Map[UUID, Int], collectionsList:List[Collection], spacesList: List[ProjectSpace],
         deletePermission: Boolean,  followers: List[(UUID, String, String, String)], followedUsers: List[(UUID, String, String, String)], followedFiles: List[(UUID, String, String)],
        followedDatasets: List[(UUID, String, String)], followedCollections: List[(UUID, String, String)], followedSpaces: List[(UUID, String, String)], ownProfile: Option[Boolean])(implicit user: Option[models.User])

@import _root_.util.Formatters

@main(displayedName) {
<script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/spaceListProcess.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
<div class="row featurette" style="display:margin:-150px;">
    <div class="col-md-6">
        <h1 class="featurette-heading">@profile.fullName</h1>
        <a href="@routes.Profile.viewProfileUUID(profile.id)" class="btn btn-link" title="Show profile"><span class="glyphicon glyphicon-user"></span> Profile</a>
        <a href="@routes.Spaces.newSpace()" class="btn btn-link" title="Create a new space"><span class="glyphicon glyphicon-ok"></span> Create Space</a>
        <a href="@routes.Collections.newCollection(None)" class="btn btn-link" title="Create a new collection"><span class="glyphicon glyphicon-ok"></span> Create Collection</a>
        <a href="@routes.Datasets.newDataset(None, None)" class="btn btn-link" title="Create a new dataset"><span class="glyphicon glyphicon-ok"></span> Create Dataset</a>
        
        @*
        <a href="@routes.T2C2.newTemplate(None)" class="btn btn-link" title="Create a new template"><span class="glyphicon glyphicon-ok"></span> Create Template</a>
        *@
        <h2> My Collections and Datasets</h2>
        <!-jstree goes here-->
        <div class="showSearch">
            <input class="search-collection form-control" placeholder="Search your collections"></input><br />
        </div>
        <div class="panel panel-default">
            <div id="collections">
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <h2>My Events</h2>
            @for(event <- newsfeed) {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="@routes.Profile.viewProfileUUID(event.user.id)">
                                    <img class="media-object" src="@event.user.avatarURL">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="@routes.Profile.viewProfileUUID(event.user.id)">
                                    <h4 class="media-heading">@event.user.fullName</h4>
                                </a>
                                @newsfeedCard(event)
                            </div>
                            <div class="media-right">
                                @Formatters.humanReadableTimeSince(event.created)
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if(newsfeed.size < 1) {
                <p>You can follow <a href="@routes.Users.getUsers()">users</a>, <a href="@routes.Spaces.list("")">spaces</a>, <a href="@routes.Datasets.list("")">datasets</a> and <a href="@routes.Collections.list("")">collections</a>.
                    Any updates on your followed instances will show here.</p>
            }

    </div>
</div>

<div class="row top-padding">
                                        </div>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/lib/masonry.pkgd.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/imagesloaded.pkgd.min.js")" type="text/javascript"></script>
    <script>
    //Get collections
    function getCollections() {
        $.ajax({
            url: "api/t2c2/allCollectionsWithDatasetIds",
            dataType: "json",
            beforeSend: function(xhr){
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Accept", "application/json");
            },
            success: function(data) {
                    var col = "#collections";
                    createJSTrees(data, col);
            },
            error: function(xhr, status, error) {

            }
        });
    }

    getCollections();

    function createJSTrees(jsonData, type) {
        console.log(jsonData);
        //build key/value pairs for datasets that exist
        for (var i = 0; i < jsonData.length; i++){

            //if there are multiple datasets then split the string
            if (jsonData[i]['dataset_ids']){

                var arr = jsonData[i]['dataset_ids'].split(",");

                var parent_collection_ids = jsonData[i]['id'];
                var root_flag = "false"
                $.each(arr, function(key, val){

                    var dataset_name = val.split(':')[0].replace(/[^a-zA-Z 0-9]+/g,'');
                    var dataset_id = val.substring(val.indexOf(":") + 1);
                    //differentiate between collections and datasets
                    var ds = "#dataset_id" + dataset_id;
                    jsonData.push({parent_collection_ids : parent_collection_ids, name : dataset_name, root_flag : root_flag, id : ds });
                });

            }

            //create library supported key names (text,parent)
            jsonData[i].text = jsonData[i]['name'];
            jsonData[i].parent = jsonData[i]['parent_collection_ids'];

            //remove old keys
            delete jsonData[i].name;
            delete jsonData[i].parent_collection_ids;

            // Is this a root collection?
            if (jsonData[i].root_flag == "true"){
                jsonData[i].parent = "#";

            }else{
                var str = "";
                // Remove special characters from the values
                str = jsonData[i].parent.replace(/[List()]+/gi, '');
                jsonData[i].parent = str;
            }

            //For new root collections where the json requires a root parent to have a value of #
            if (jsonData[i].parent == ""){
                jsonData[i].parent = "#";
            }

        }

        //Create tree from js object
        //jstree initialization and settings
        $(type).jstree({

            "core" : {
                "check_callback" : true,
                "data" : jsonData,
                "multiple" : false,
                "themes" : {
                  "variant" : "large",
                  "stripes" : true
                },
                "search": {
                  "case_insensitive": true,
                  "show_only_matches" : true
                },
            },
            "checkbox" : {
                "keep_selected_style" : false,
                "three_state" : false
             },
            "contextmenu":{
                "items": function($node) {
                    var tree = $(type).jstree(true);
                    return {
                        "Create": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Create New ",
                            "icon" : "glyphicon glyphicon-plus",
                            "action": function (obj) {
                                $node = tree.create_node($node);
                                tree.edit($node);
                            }
                        }
                    };
                }
            },
            "plugins" : [
                "checkbox",
                // "contextmenu",
                "massload",
                "search",
                "sort",
                // "state",
                "types",
                "unique",
                "wholerow",
                "changed",
                "conditionalselect"
            ],

        });

    }

    //Search Plugin
    $(".search-collection").keyup(function() {
        var searchString = $(this).val();
        $("#collections").jstree('search', searchString);
    });

    //Prevent collection search from submitting the form
    $('.search-collection').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
        }
    });

    $("#collections").on("select_node.jstree", function(e, data){
            var str = data.node.id;
            var res = str.match(/J/gi);

            //how to determine if dataset
            if (res != "j"){
                if (str.match("^#dataset_id")){
                    var newStr = str.replace("#dataset_id", "");
                    window.location.href = "/datasets/" + newStr;

                }else{
                    window.location.href = "/collection/" + str;
                }
            }

    });

    </script>

    <script>
        var removeIndicator=true;
        function activateOne(id) {
            // initialize Masonry
            var $container = $('#'+id).masonry();
            // layout Masonry again after all images have loaded
            imagesLoaded( '#masonry', function() {
                $container.masonry({
                itemSelector: '.post-box',
                columnWidth: '.post-box',
                transitionDuration: 4
                });
            });
        }

        function activate(){
            activateOne("masonry-datasets");
            activateOne("masonry-collections");
            activateOne("masonry-spaces");
        }
        $(document).ready(function() {

            /*
            * Clamped-width.
            * Usage:
            *  <div data-clampedwidth=".myParent">This long content will force clamped width</div>
            *
            * Author: LV
            */
            $('[data-clampedwidth]').each(function () {
                var elem = $(this);
                var parentPanel = elem.data('clampedwidth');
                var resizeFn = function () {
                    var sideBarNavWidth = $(parentPanel).width() - parseInt(elem.css('paddingLeft')) - parseInt(elem.css('paddingRight')) - parseInt(elem.css('marginLeft')) - parseInt(elem.css('marginRight')) - parseInt(elem.css('borderLeftWidth')) - parseInt(elem.css('borderRightWidth'));
                    elem.css('width', sideBarNavWidth);
                };

                resizeFn();
                $(window).resize(resizeFn);
            });

            var panel = $('#resources-panel');
            panel.affix({
                offset: {
                    top: panel.offset() - panel.height()
                }
            });

            var width = $('.col-md-7').width() * 0.05;
            $('.media-object' ).each(function() {
                $(this ).css("width", width);
                $(this ).css("height", width);
            });
            activate();
        });



        // fire when showing from tab
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            activate();
        })
    </script>
    <script src="@routes.Assets.at("javascripts/follow-button.js")" type="text/javascript"></script>
    @*******
    *if(user.isDefined) {
    *    @carousel(files)
    *}
    ********@
}
