
@(file: models.File, id: String, comments: List[Comment],
        previews : Map[models.File, Array[(java.lang.String, String, String, String, java.lang.String, String, Long, String)]],
        sections: List[models.Section], beingProcessed: Boolean, datasets: List[models.Dataset], folders: List[Folder],
        mds: List[models.Metadata],
        rdfExported: Boolean,
        extractionsStatus: List[Extraction], outputFormats: Option[List[String]], spaceId: Option[String], access:String,
        folderHierarchy: List[Folder], spaces:List[ProjectSpace], allDatasets: List[Dataset])(implicit user: Option[models.User], request: RequestHeader)

@import helper._
@import play.api.Play.current
@import api.Permission
@import _root_.util.FileUtils
@import _root_.util.Formatters._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }


    @* (pv.id.toString, p.id, p.path, p.main, api.routes.Previews.download(pv.id).toString, pv.contentType, pv.length) *@
@showPreview(id: String, p: (java.lang.String, String, String, String, java.lang.String, String, Long, String), filename: String, contentType: String) = {
    <script>
            Configuration.tab = "#previewer_@id";
            Configuration.url = "@p._5";
            Configuration.fileid = "@p._1";
            Configuration.previewer = "@routes.Assets.at(p._3)";
            if("@p._2" === "Thumbnail"){
                Configuration.fileType = "@p._6";
                Configuration.fileSize = @p._7;
            }
            else if("@p._2" === "X3d"){
                Configuration.annotationsEditPath = "@api.routes.Previews.editAnnotation(UUID(p._1))";
                Configuration.annotationsListPath = "@api.routes.Previews.listAnnotations(UUID(p._1))";
                Configuration.annotationsAttachPath = "@api.routes.Previews.attachAnnotation(UUID(p._1))";
                Configuration.wasPTM = "@(filename.endsWith(".ptm") || contentType.contains("ptmimages"))";
                Configuration.calledFrom = "file";
            }
            else if("@p._2" === "Oni"){
            }
            else if("@p._2" === "Video"){
                Configuration.fileType = "@p._6";
            }
            else if("@p._2" === "Video presentation"){
                Configuration.authenticatedFileModify = false;
                @if(user.isDefined) {
                @if(user.get.id.equals(file.author.id)){
                Configuration.authenticatedFileModify = true;
                }
                }
            }
            else if("@p._2" === "External resource"){
                Configuration.authenticatedFileModify = false;
                @if(user.isDefined) {
                @if(user.get.id.equals(file.author.id)){
                Configuration.authenticatedFileModify = true;
                }
                }
            }
    </script>
    <script type="text/javascript" src="@(routes.Assets.at(p._3) + "/" + p._4)"></script>
}

@main("File") {

    <style>


            .navbar {
                display: none;
            }




    </style>

    @*<script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/updateLicenseInfo.js")" language="javascript"></script>*@
    @*<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>*@
    <script src="@routes.Assets.at("javascripts/previews.js")" type="text/javascript"></script>
    @*<script src="@routes.Assets.at("javascripts/popcorn-complete.min.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/galleria-1.2.9.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/fileListProcess.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/sectionsListProcess.js")" type="text/javascript"></script>*@
    @*<script src="@routes.Assets.at("javascripts/files/datasets.js")" type="text/javascript"></script>*@
    <script>
            var spaceId = "@spaceId";
            var isPageLoaded = false;
            var isx3dActive = false;
            var Configuration = {};
            Configuration.id  = "@file.id";
            Configuration.authenticated = @user.isDefined;
            Configuration.ptmAppletPath = "@(routes.Assets.at("plugins") + "/" + "envlib.jar")";
            Configuration.expressInstallPath = "@(routes.Assets.at("plugins") + "/" + "expressInstall.swf")";
            Configuration.iipZoomPath = "@(routes.Assets.at("plugins") + "/" + "IIPZoom.swf")";
            Configuration.jsPath = "@(routes.Assets.at("javascripts"))";
            Configuration.imagesPath = "@(routes.Assets.at("images"))";
            Configuration.appContext = "@play.api.Play.configuration.getString("application.context").getOrElse("")";
            var cur_description;

            function urlify(text) {
                var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@@#\/%?=~_|!:,.;]*[-A-Z0-9+&@@#\/%=~_|])/ig;
                return text.replace(urlRegex, function(url) {
                    return '<a href="' + url + '">' + url + '</a>';
                })
            }
    </script>
    <script>
            window.onload = function() {
                isPageLoaded = true;
            }
    </script>



            @for((f, pvs) <- previews) {
                <div class="row" id="filePrevContainer_@(f.id.toString)" data-previewsCount="@(pvs.length)" data-filename="@f.filename">
                            <!--
		    	First check if there is only one previewer, and if the value of the URL for it is "null". If so
		    	that means there was no preview generated and the file is not allowed to be used due to the license
		    	that is on the file.
		    	 -->
                        @if(pvs.length == 1 && pvs(0)._5 == "null") {
                            <h4>No previews currently available for this file</h4>
                        } else {
                            <div class="tabbable">
                                <ul class="nav nav-pills" id="myTab_@(f.id.toString)">
                                @for(i <- pvs.indices) {
                                        <!-- Use preview.title as tab title if defined; otherwise use previewer name. -->
                                    @if(pvs(i)._8 != "") {
                                        <li class=""><a href="#previewer_@(f.id.toString)_@i" data-toggle="tab">@pvs(i)._8</a></li>
                                    } else {
                                        <li class=""><a href="#previewer_@(f.id.toString)_@i" data-toggle="tab">@pvs(i)._2</a></li>
                                    }
                                }
                                </ul>
                                <div class="tab-content"  id="previewsContent_@(f.id.toString)">
                                    @for(i <- pvs.indices) {
                                        <div class="tab-pane previewDiv" id="previewer_@(f.id.toString)_@i" data-previewId="@(pvs(i)._1)" data-previewerId="@(pvs(i)._2)"></div>
                                        @showPreview(f.id.toString + "_" + i, pvs(i), f.filename, f.contentType)

                                    }
                                    @*<script type="text/javascript">*@
                                            @*$(function () {*@
                                                @*$('#myTab_@(f.id.toString) a:first').tab('show');*@
                                            @*})*@
                                    @*</script>*@
                                </div>
                            </div>
                        }
                </div>
                @if(pvs.length <= 1) {
                    @*<script>*@
                            @*$('#myTab_@(f.id.toString)').attr('style', 'display:none;');*@
                    @*</script>*@
                }

            }


            <!-- right column -->



}
