
@(displayedName: String,  newsfeed: List[models.Event], profile:User, datasetsList: List[Dataset],  dscomments: Map[UUID, Int], collectionsList:List[Collection], spacesList: List[ProjectSpace],
        deletePermission: Boolean,  followers: List[(UUID, String, String, String)], followedUsers: List[(UUID, String, String, String)], followedFiles: List[(UUID, String, String)],
        followedDatasets: List[(UUID, String, String)], followedCollections: List[(UUID, String, String)],
        followedSpaces: List[(UUID, String, String)], ownProfile: Option[Boolean], userSelections: List[String])(implicit user: Option[models.User])

@import _root_.util.Formatters
@import api.Permission
@import models.DatasetStatus
@import play.api.i18n.Messages


@main(displayedName) {
    <script src="@routes.Assets.at("javascripts/collectionListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/datasetListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/spaceListProcess.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/deleteUtils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/stickytabs/jquery.stickytabs.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/masonry.pkgd.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/imagesloaded.pkgd.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/MaterialDesign-Webfont-master/css/materialdesignicons.css")">


    <div class="jumbotron"  style="padding-top:-80px">

        <div class="row">
            <div class="row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <!-- <h2>My Dashboard</h2> -->
                <div class="column col-sm-6 col-xs-1 sidebar-offcanvas" id="sidebar">
                    <ul class="nav" id="menu">
                        <div class="panel" id="tree">
                        </div>
                    </ul>
                    <div class="leg row">
                            <fieldset>
                                <h6><span class="label"><img src="@routes.Assets.at("images/home.png")" class="img"></span>Space
                                <span class="label"><img src="@routes.Assets.at("images/folder_new.png")"  class="img"></span>Collection
                                <span class="label"><img src="@routes.Assets.at("images/folder.gif")" class="img"></span>Dataset
                                <span class="label"><img src="@routes.Assets.at("images/file.png")" class="img"></span>File</h6>
                            </fieldset>
                    </div>
                </div>
                <!-- /sidebar -->

                <!-- main right col -->
                <div class="column-main col-sm-6 col-xs-11" id="main">
                    <p><a href="#" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left glyphicon-2x"></i></a></p>
                    <!-- <p>
                        Main content...
                    </p> -->
                    <iframe seamless frameBorder="0" id="preview" allowtransparency="true" style="background-color: transparent;">
                    </iframe>



                </div>
                <!-- /main -->
            </div>
        </div>
        </div>

        <a href="#" id="infoPop" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover"></a>


            </div>

        </div>
    </div>

        <div class="modal fade" id="collectionModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create Collection</h4>
                </div>
                <div>
                    <iframe seamless class="modal-body" style="height:calc(100vh - 30vh); width: 100%;" frameBorder="0" id="previewCollection">
                    </iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="collbtn" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

          <div class="modal fade" id="datasetModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Create Dataset</h4>
                </div>

                <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px">
                    <iframe seamless class="panel panel-default" style="height:calc(100vh - 30vh); width: 100%;" frameBorder="0" id="previewDataset">
                    </iframe>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="databtn" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

          <div class="modal fade" id="addFilesModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Files</h4>
                </div>
                <iframe seamless class="modal-body" style="height:calc(100vh - 30vh); width: 100%;" frameBorder="0" id="previewFile">
                </iframe>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="filebtn" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
        </div>

    <div id="metadataModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dataset Metadata</h4>
                </div>
                <div id="custMenu">
                    <div class="form-group padTop">
                        <div class="showTemplates">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>Select a template: (optional)</label><br />
                                        <select class="form-control" id="treeTemplates"></select><br />
<!--                                         <label>Choose a name for your template:</label>
 --><!--                                         <input type="text" class="form-control" id="templateName" placeholder="<Example> Sample Name, PECVD Oxide, Diffusion" required><br />
 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="metaDataSettings">
                </div>

                    <!--             <div class="modal-body2" style="padding:20px;">
            </div>
 -->            <div class="templateData modal-body">
                    <!--Template boxes will be added here -->
                <br />
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success pull-left" id="addMetaData">Add New</button>

                    <button type="button" class="btn btn-success" id="submitMetaData" data-dismiss="modal">Submit</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <style>

        /** CSS Styles for good adjustment */
        .col-xs-11, .col-sm-6 {
            padding-left: 7.5px;
        }

        .jumbotron {
            padding-top: 10px;
        }

        body {
            overflow-x:hidden;
        }

        .panel {
            background-color: transparent;
            border : none;
        }

        .wrapper, .row {
           height: 100%;
        }

        .wrapper:before, .wrapper:after,
        .column:before, .column:after {
            content: "";
            display: table;
        }

        .wrapper:after,
        .column:after {
            clear: both;
        }

        #sidebar {
            padding-left: 0;
            float: left;
            min-height: 100%;
            padding-right: 0;
        }

        #sidebar .collapse.in {
            display: inline;
        }

        #sidebar > .nav>li>a {
            white-space: nowrap;
            overflow: hidden;
        }

        #main {
            /* padding: 15px; */
            left: 0;
        }

        #previewCollection {
            padding-top: 0px;
        }

        legend {
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            border: none;
        }

        #tree {
            margin-bottom: 0px;
        }

        .jumbotron p {
            padding-bottom: 0px;
            margin-bottom: -5px;
        }

        /** Smaller Devices */

        @@media screen and (max-width: 768px) {
            .fa-2x {
                font-size: 1.5em;
            }
            .jumbotron {
                padding-top: 5px !important;
            }
            .col-xs-1 {
                width: auto !important;
            }

            #sidebar {
                min-width: 90%;
            }
            .row-offcanvas.active #main{
                width: auto !important;
            }

            #main {
                width: 1%;
                left: 0;
                padding-right: 0px;
            }

            .wrapper, .row {
                height: 100%;
                padding-left: 5%;

                /* margin-left:0;
                margin-right:-5px; */
            }

            /* .active, .row {
                padding-right: 5% !important;
            } */

            #tree {
                height: calc(100vh - 20vh);
                min-width: 90%;
            }

            #preview {
                height: calc(100vh - 25vh);;
                width: 100%;
                float:right;
            }

            #sidebar .visible-xs {
               display:inline !important;
            }

            .row-offcanvas {
               -webkit-transition: all 0.4s ease-in-out;
               -moz-transition: all 0.4s ease-in-out;
               transition: all 0.4s ease-in-out;
            }

            .row-offcanvas-left.active {
               left: 90%;
            }

            .row-offcanvas-left.active .sidebar-offcanvas {
               left: -90%;
               position: absolute;
               top: 0;
               width: 45%;
            }
        }

        /** Larger Devices */

        @@media screen and (min-width: 768px) {
            .row-offcanvas {
                -webkit-transition: all 0.25s ease-out;
                -moz-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
            }

            /* .active {
            
            } */

            .row-offcanvas-left.active {
                left: 90%;
            }

            .leg.row {
                margin-left: 0px;
            }

            .row-offcanvas-left.active .sidebar-offcanvas {
                left: -90%;
                position: absolute;
                top: 0;
                width: 3%;
                text-align: center;
                min-width:42px;
            }

            #main {
                left: 0;
            }
        }


        /* Webix Styles */

        .my_style  {
            font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
        }
        .webix_tree_home {
            background-image: url('./../../assets/images/home.png');
        }
        .webix_tree_puzzle {
            background-image: url("./../../assets/images/folder_new.png");
        }
        .webix_tree_xyz {
                background-image: url("./../../assets/images/file.png");
        }
        .webix_tree_folder {
            background-image: url('./../../assets/images/folder.gif');
        }


        #tree {
            height: calc(100vh - 20vh);
            width: 100%;
            float:left;
            overflow-y:auto;
        }

        #preview {
            height: calc(100vh - 25vh);;
            width: 100%;
            float:right;
        }

        /*.webix_tree_item .check, */
        /*.webix_tree_item.webix_selected .check {*/
            /*float: left; */
            /*line-height:inherit;*/
            /*width: 20px;*/
            /*padding: 0px;*/
            /*margin:0px 0px 0px 0px;*/
            /*background-color: transparent;*/
            /*color: #666;*/
        /*}*/

    </style>
    <script src="@routes.Assets.at("javascripts/errorRedirect.js")" type="text/javascript"></script>
    <script>
            // SIDEBAR
            $('[data-toggle=offcanvas]').click(function() {
                $('.row').toggleClass('active');
                $('.row-offcanvas').toggleClass('active');
                $('.collapse').toggleClass('in').toggleClass('hidden-xs').toggleClass('visible-xs');
                $('.column').toggleClass('col-sm-6');
                $('.column-main').toggleClass('col-xs-11').toggleClass('panel').toggleClass('col-sm-6');
                $('.glyphicon').toggleClass('glyphicon-chevron-left').toggleClass('glyphicon-chevron-right');
            });

            var idsOfSelected = []
            // Functionality for editing node names - using prototype EditAbility
            webix.protoUI({
                name:"edittree"
            }, webix.EditAbility, webix.ui.tree);


            var menu = [
                    "Delete",
                    "Download"];

            // Implementation of WEBIX TREE below
            tree = webix.ui({
                // Using tree container
                container: "tree",
                // Dividing into rows - splitting search, sort, and tree
                rows:[
                { view:"toolbar", height:95, rows:[
                    { cols:[
                        {view:"text", placeholder:"Search..."},
                        {view:"icon", icon:"mdi mdi-help-circle", width:50,
                        click:function() {
                            webix.ui({
                                view:"window",
                                id:"my_win",
                                head:"Info",
                                width: 300,
                                height: 150,
                                position:"center",
                                move:true,
                                resize: true,
                                head:{
                                    view:"button", label:"Close", width:70, click:("$$('my_win').close();")

                                },
                                body:{
                                    template:"You may search for whatever is already loaded in the tree-view. Owners may right click object to rename/delete, drag and drop to move."
                                }
                            }).show();
                        }}
                    ]
                    },
                    {cols:[
                    {
                        view:"button",
                             value:"Sort",
                             //type:"image",
                             //image:"sort_a_z.png",
                             //label:"Sort",
                             click:function(){
                                $$("tree").sort("#value#","asc")
                            }
                    },
                    {
                        view:"button",
                        value:"Delete",
                        click:function(){
                            var len = idsOfSelected.length;
                            for(var i = 0; i < len; i++) {
                                var nodeId = idsOfSelected[0];

                                var dataType = $$("tree").getItem(nodeId).type;
                                if (dataType == "collection") {
                                    $$("tree").remove(nodeId);
                                    url = jsRoutes.api.Collections.removeCollectionAndContents(nodeId).url;
                                    idsOfSelected.splice(idsOfSelected.indexOf(nodeId), 1);
                                }else if(dataType == "dataset") {
                                    $$("tree").remove(nodeId);
                                    url = jsRoutes.api.Datasets.deleteDataset(nodeId).url;
                                    idsOfSelected.splice(idsOfSelected.indexOf(nodeId), 1);
                                }else if(dataType == "file"){
                                    $$("tree").remove(nodeId);
                                    url = jsRoutes.api.Files.removeFile(nodeId).url;
                                    idsOfSelected.splice(idsOfSelected.indexOf(nodeId), 1);
                                } else {
                                    idsOfSelected.splice(idsOfSelected.indexOf(nodeId), 1);
                                }
                                if(dataType == "collection" || dataType == "dataset") {
                                    $.ajax({
                                        url : url,
                                        type : "DELETE"
                                    })
                                } else if(dataType == "file"){
                                    $.ajax({
                                        url : url,
                                        type : "POST"
                                    })
                                } else if(dataType == "space") {
                                    webix.message("You cannot delete a space!");
                                }
                                }
                            }
                    },
                    ]}
                ]},

                    // Tree view
                    {
                        view:"edittree",
                        type:"lineTree",
                        drag: true,
                        multiselect: "level",
                        select:"row",
                        css: "my_style",
                        editable:true,
                        editValue:"value",
                        editor:"text",
                        editaction:"dblclick",
                        id:"tree",
                        // URL for parent
                        url:'api/fulltree/getChildrenOfNode?nodeType=root',
                        on: {
                            onBeforeContextMenu: function(id) {
                                console.log(window.innerWidth)
                            if(window.innerWidth<800) {
                                return false;
                            }
                            webix.delay(function(){
                            this.select(id);},this)
                            }
                        },
                        onContext:{

                        },
                        ready:function() {
                            var state = webix.storage.local.get("state");
                            if (state) {
                                this.setState(state);
                            }
                            this.closeAll();
                        },
                        type:{
                            myCustomCheckbox:function(obj, common){
                                if (obj.indeterminate && !obj.checked)
                                    return "<span class='webix_icon check mdi mdi-checkbox-intermediate'></span>";
                                return "<span class='webix_icon check mdi mdi-checkbox-"+(obj.checked?"marked":"blank")+"-outline'></span>";

                            }
                        },
                        onClick:{
                            check:function(e, id){
                                var checkMark = this.getItem(id).checked;
                                console.log(checkMark)
                                if (checkMark) {
                                    this.uncheckItem(id);
                                    idsOfSelected.splice(idsOfSelected.indexOf(id), 1);
                                } else {
                                    this.checkItem(id);
                                    idsOfSelected.push(id);
                                }
                            }
                        },
                        // span for providing the correct selection
                        template: "{common.icon()}{common.myCustomCheckbox()}{common.folder()} <span> #value# </span>",
                    }
                ]
            });

            $('#collbtn').on('click', function(event) {
                location.reload();
            });

            $('#databtn').on('click', function(event) {
                location.reload();
            });

            $('#filebtn').on('click', function(event) {
                location.reload();
            });


            // Webix context menu options
            contextMenu = webix.ui({
                view:"contextmenu",
                id: "context-menu",
                data: [
                { id:"1",value:"Create...", submenu:[
                    {id: "1.1", value:"Collection"},
                    {id: "1.2", value:"Dataset"}
                ]},
                {id:"5", value: "Attach/View Template"},
                {id:"2", value:"Add files..."},
                {id:"3", value:"Download"},
                {id:"4", value:"Delete"}
                ],
                master:$$("tree")
            });

            $$("tree").attachEvent("onBeforeContextMenu", function(id, e, node){
                var dataType = this.getItem(id).type;
                if(dataType=="space") {
                    contextMenu.enableItem("1");
                    contextMenu.enableItem("1.1");
                    contextMenu.enableItem("1.2");
                    contextMenu.disableItem("5");
                    contextMenu.disableItem("2");
                    contextMenu.disableItem("3");
                    contextMenu.disableItem("4");
                } else if (dataType=="collection") {
                    contextMenu.enableItem("1");
                    contextMenu.enableItem("1.1");
                    contextMenu.enableItem("1.2");
                    contextMenu.disableItem("5");
                    contextMenu.disableItem("2");
                    contextMenu.enableItem("3");
                    contextMenu.enableItem("4");
                } else if (dataType=="dataset") {
                    contextMenu.enableItem("2");
                    contextMenu.enableItem("3");
                    contextMenu.enableItem("4");
                    contextMenu.enableItem("1");
                    contextMenu.disableItem("1.1");
                    contextMenu.disableItem("1.2");
                    contextMenu.enableItem("5");
                } else if (dataType=="file") {
                    contextMenu.disableItem("1");
                    contextMenu.disableItem("2");
                    contextMenu.enableItem("3");
                    contextMenu.enableItem("4");
                    contextMenu.disableItem("5");
                }
            });


            $$("context-menu").attachEvent("onMenuItemClick", function(id){
                var url = "";
                var nodeId = $$("tree").getSelectedId();
                var dataType = $$("tree").getItem(nodeId).type;
                // id 1.1 for create collection
                if(id == "1.1" && dataType=="space") {
                    $("#collectionModal").modal();
                    document.getElementById('previewCollection').src = "./collections/new?"+dataType+"="+nodeId;
                }
                else if (id=="1.1" && dataType =="collection") {
                    $("#collectionModal").modal();
                    document.getElementById('previewCollection').src = "./collections/"+nodeId+"/newchildCollection";
                }
                // id 1.2 for create dataset
                else if (id == "1.2") {
                    $("#datasetModal").modal();
                    document.getElementById('previewDataset').src = "./datasets/new?"+dataType+"="+nodeId;
                } else if (id=="5") {
                    // get4ceedMetaData(nodeId);
                    getTemplates(nodeId);
                    // getTemplate(nodeId);
                    $("#metadataModal").modal();
                }
                // id 2 for add files
                else if (id == "2") {
                    $("#addFilesModal").modal();
                    document.getElementById('previewFile').src = "./datasets/"+nodeId+"/addFiles";
                } // id 3 for download
                else if(id == "3") {
                    if (dataType == "collection") {
                        var downloadRoute = jsRoutes.api.Collections.download(nodeId).url;
                        window.open(downloadRoute, '_blank');
                    }else if(dataType == "dataset") {
                        var downloadRoute = jsRoutes.api.Datasets.download(nodeId).url;
                        window.open(downloadRoute, '_blank');
                    }else if(dataType == "file"){
                        var downloadRoute = jsRoutes.api.Files.download(nodeId).url;
                        window.open(downloadRoute, '_blank');
                    }

                } // id 3 for delete
                else if(id == "4") {
                    var nodeId = $$("tree").getSelectedId();
                    var dataType = $$("tree").getItem(nodeId).type;
                    if (dataType == "collection") {
                        $$("tree").remove(nodeId);
                        url = jsRoutes.api.Collections.removeCollectionAndContents(nodeId).url;
                    }else if(dataType == "dataset") {
                        $$("tree").remove(nodeId);
                        url = jsRoutes.api.Datasets.deleteDataset(nodeId).url;
                    }else if(dataType == "file"){
                        $$("tree").remove(nodeId);
                        url = jsRoutes.api.Files.removeFile(nodeId).url;
                    }
                    if(dataType == "collection" || dataType == "dataset") {
                        $.ajax({
                            url : url,
                            type : "DELETE"
                        })
                    } else if(dataType == "file"){
                        $.ajax({
                            url : url,
                            type : "POST"
                        })
                    } else {
                        webix.message("You cannot delete a space!");
                    }
                }
            });


            $$("tree").attachEvent("onDataRequest", function (id) {
                // Using getItem() to get all attributes of JSON object
                var itemType = this.getItem(id).type;
                this.parse(
                    // URL for children
                    webix.ajax().get("api/fulltree/getChildrenOfNode?nodeId="+id+"&nodeType="+itemType).then(function(data) {
                        var dataReturned = data.json();
                        return {parent:id, data:dataReturned};
                }));
                webix.storage.local.put("state", $$("tree").getState());
                return false;
            });

            $$("tree").attachEvent("onEditorChange",function(id, value) {
                var dataType = this.getItem(id).type;
                var url = "";
                if (dataType == "collection"){
                        url = jsRoutes.api.Collections.updateCollectionName(id).url;
                } else if(dataType == "dataset"){
                        url = jsRoutes.api.Datasets.updateName(id).url;
                } else if(dataType == "file"){
                        url = jsRoutes.api.Files.updateFileName(id).url;
                } else{
                        url = "";
                }

            $.ajax({
                        url: url,
                        type:"PUT",
                        data: JSON.stringify({name: value}),
                        dataType: "json",
                        beforeSend: function(xhr){
                            xhr.setRequestHeader("Content-Type", "application/json");
                            xhr.setRequestHeader("Accept", "application/json");
                        }
                    });
            });

            // Edit a space
            $$("tree").attachEvent("onEditorChange",function(id, value) {
                var dataType = this.getItem(id).type;
                var url = "";
                if(dataType == "space") {
                    url = jsRoutes.controllers.Spaces.updateSpace(id).url;
                    webix.ajax().get(url, { name:value});
                }
            });

            // Filtering based on search - solely based on value provided by user
            $$("$text1").attachEvent("onTimedKeyPress",function() {
                $$("tree").filter("#value#",this.getValue());
            });


            // onItemClick: storing state, this is the area that acts as a single page application.
            $$("tree").attachEvent("onItemClick", function(id, e, node) {
                var dataType = this.getItem(id).type;
                if (dataType === "collection"){
                    webix.storage.local.put("state", $$("tree").getState());
                    document.getElementById('preview').src = "./collection/"+id;
                    // window.location.href = "/collection/"+id+"";
                }else if(dataType === "dataset"){
                    webix.storage.local.put("state", $$("tree").getState());
                    document.getElementById('preview').src = "./datasets/"+id;

                    // window.location.href = "/datasets/"+id+"";
                }else if(dataType === "file"){
                    webix.storage.local.put("state", $$("tree").getState());
                    //window.location.href = "/files/"+id+"";
                    document.getElementById('preview').src = "./files/"+id;
                    //webix.ajax("./files/"+id);
                }else if(dataType === "space"){
                    webix.storage.local.put("state", $$("tree").getState());
                    document.getElementById('preview').src = "./spaces/"+id;

                    // window.location.href = "/spaces/"+id+"";
                } else {

                }
            });

            // onItemClick: storing state
            $$("tree").attachEvent("onItemDblClick", function(id, e, node) {
                var dataType = this.getItem(id).type;
                if (dataType === "collection"){
                    webix.storage.local.put("state", $$("tree").getState());
                    // document.getElementById('preview').src = "./collection/"+id;
                    window.location.href = "/collection/"+id+"";
                }else if(dataType === "dataset"){
                    webix.storage.local.put("state", $$("tree").getState());
                    // document.getElementById('preview').src = "./datasets/"+id;

                    window.location.href = "/datasets/"+id+"";
                }else if(dataType === "file"){
                    webix.storage.local.put("state", $$("tree").getState());
                    //window.location.href = "/files/"+id+"";
                    document.getElementById('preview').src = "./files/"+id;
                    //webix.ajax("./files/"+id);
                }else if(dataType === "space"){
                    webix.storage.local.put("state", $$("tree").getState());
                    // document.getElementById('preview').src = "./spaces/"+id;

                    window.location.href = "/spaces/"+id+"";
                } else {

                }
            });


            $('#metadataModal').on('hidden.bs.modal', function () {
                // window.location.search = 'ds';
            })

            // onBeforeDrag: check's if the source is a space, it cannot be dragged anywhere
            $$("tree").attachEvent("onBeforeDrag", function(context, ev) {
                if (this.getItem(context.source[0]).type == "space") {
                    return false;
                }
                return true;
            });

            // onBeforeDrop: calls the helper methods to perform d n d successfully
            $$("tree").attachEvent("onBeforeDrop", function(context, ev) {
                var startItem = this.getItem(context.start);
                var sourceItem = this.getItem(context.source);
                var desItem = this.getItem(context.target);

                console.log(startItem.type+", "+desItem.type);


                if(startItem.type == "collection") {
                    console.log(startItem.$parent+", "+context.parent+", "+context.start);
                    if (startItem.$parent == 0){
                        moveCollection('#', context.parent, context.start);
                        return true;
                    } else if(this.getItem(startItem.$parent).type == "space") {
                        return false;
                    } else {
                        moveCollection(startItem.$parent, context.parent, context.start);
                        return true;
                    }

                } else if (startItem.type == "dataset"){
                    if (startItem.$parent == 0){
                        moveDataset('#', context.start, context.parent);
                        return true;
                    } else if(this.getItem(startItem.$parent).type == "space") {
                        return false;
                    } else{
                        moveDataset(startItem.$parent, context.start, context.parent);
                        return true;
                    }
                } else if (startItem.type == "file" && desItem.type == "file") {
                    for (var i = 0; i < context.source.length; i++) {
                        moveFile(this.getItem(context.start).$parent, context.parent, context.source[i]);
                    }
                    return true;
                }
                return false;
            });

            // Helper methods to call API's for d n d
            function moveCollection(originalCollection, newCollection, childCollectionId){
                $.ajax({
                    url: jsRoutes.api.Collections.moveChildCollection(childCollectionId).url,
                    type:"POST",
                    data: JSON.stringify({ originalCollection:originalCollection, newCollection:newCollection}),
                    dataType: "json",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data) {}
                })
            }

            function copyCollection(collectionId, spaceId) {
                $.ajax({
                    url: jsRoutes.api.Collections.copyCollectionToSpace(collectionId, spaceId).url,
                    type: "POST"
                })
            }

            function moveDataset(oldCollectionId, datasetId, newCollectionId){
                $.ajax({
                    url: jsRoutes.api.Collections.moveDatasetToNewCollection(oldCollectionId,datasetId,newCollectionId).url,
                    type:"POST"
                })
            }

            function moveFile(oldDatasetId, newDatasetId, fileId) {
                $.ajax({
                    url: jsRoutes.api.Datasets.moveFileBetweenDatasets(oldDatasetId, newDatasetId, fileId).url,
                    type:"POST"
                })
            }

            webix.attachEvent('unload', function(){
                var state = webix.storage.local.get("state");
                if (state) {
                    $$("tree").setState(state);
                }
            });

            $(document).ready(function() {

                $(".nav-tabs > li.active").removeClass("active")
                var url = window.location.href;
                let params = new URLSearchParams(location.search.slice(1));

                if (url.indexOf("?") >= 0){
                    for (let p of params) {
                        if (p[0] === "ds"){
                            $("#tab-metadata1").addClass("active");
                            $("#tab-metadata").addClass("active");
                            console.log("MD");
                        }else{
                            $("#tab-files1").addClass("active");
                            $("#tab-files").addClass("active");
                            console.log("NOT MD");

                        }
                    }
                }else{
                    $("#tab-files1").addClass("active");
                    $("#tab-files").addClass("active");
                }

            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();

                $('.collapse')
                        .on('shown.bs.collapse', function(){
                            $(this).parent().find(".panel-icon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                        })
                        .on('hidden.bs.collapse', function(){
                            $(this).parent().find(".panel-icon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                        });

                $('.tree li').on('click', function (e) {
                    //console.log("clicked");
                    var children = $(this).find('> ul > li > ul > li');
                    if (children.is(":visible")) {
                        children.hide('fast');
                        $(this).find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
                    } else {
                        children.show('fast');
                        $(this).find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
                    }
                    e.stopPropagation();
                });
            })

            $(document).on('click', '#editMetaData', function(e){
                $(".modal-body").empty();
                get4ceedMetaData();
            });

            $(document).on('click', '#addMetaData', function(e){
                var div = $("<div />");
                div.html(createDiv());
                $(".modal-body").append(div);
            });

            $('#metadataModal').on('hidden.bs.modal', function () {
                // window.location.search = 'ds';
            })

            $(document).on('click', '#submitMetaData', function(e){
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);

                checkIfDatasetAttachedTemplate();
            });

            //Should we show a template for this dataset?
            function get4ceedMetaData() {
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);
                $.ajax({
                    url: jsRoutes.api.T2C2.getDatasetWithAttachedVocab(id).url,
                    type:"GET",
                    dataType: "json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data){
                        if (data.template.id === "none"){
                            // console.log(data.template.id);
                        }else{
                            createBoxesForPreviousDataset(data);
                        }
                    }
                })

            }

            //Does this ds have a template?
            function checkIfDatasetAttachedTemplate() {

                var url = window.location.pathname;
                // var id = url.substring(url.lastIndexOf('/') + 1);
                var id = $$("tree").getSelectedId();

                postTemplate(false, id);

                $.ajax({
                    url: jsRoutes.api.Datasets.hasAttachedVocabulary(id).url,
                    type:"GET",
                    dataType: "json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data){
                        if (data.length > 0){
                            edit4CeedMetaData(data[0].id);
                        }else{
                            postTemplate(false, id);
                        }
                    }
                })

            }

            function postTemplate(templateType, datasetID){
                console.log("PT");
                var templateTerms = buildTemplate();
                var tagName = $('.tagName').val();//.toUpperCase();
                var shareTemplate = $('#checkShareTemplate').is(":checked");
                var templateName = $("#templateName").val();
                var templateType = "false"; //templateType.toString();
                $.ajax({
                    url: jsRoutes.api.Vocabularies.createVocabularyFromJson(shareTemplate).url,
                    type:"POST",
                    data: JSON.stringify({ name: templateName, terms: templateTerms, tags: tagName, master: templateType}),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data){
                        addTemplateToDataset(datasetID, data.id);
                    },
                    error: function(xhr, status, error) {
                        swal({
                            title: "Error",
                            text: "There was a problem creating this template",
                            type: "error",
                            timer: 1500,
                            showConfirmButton: false
                        });
                    }
                })
            }

            function buildTemplate() {
                var metaDataKeys = $.map($(' .metaDataKey'), function (el) { return el.value; });
                var metaDataVals = $.map($(' .metaDataVal'), function (el) {return el.value;});
                var metaDataUnits = $.map($(' .metaDataUnit'), function (el) {return el.value;});
                var metaDataTypes = $.map($(' .metaDataType'), function (el) {return el.value;});
                var requireField = $.map($(' .requireField'), function (el) {return el.value;});

                var arr = [];

                $.each(metaDataKeys, function (idx, keyName) {
                    if (keyName != ''){
                        var objCombined = {};
                        objCombined['key'] = keyName;
                        objCombined['units'] = metaDataUnits[idx];;
                        objCombined['data_type'] = metaDataTypes[idx];;
                        objCombined['default_value'] = metaDataVals[idx];
                        objCombined['required'] = requireField[idx];

                        arr.push(objCombined);
                    }
                });
                return(arr);

            }

            function addTemplateToDataset(datasetid, templateID){
                var url = "/t2c2/templates/" + templateID + "/attachToDataset/" + datasetid + "";
                $.ajax({
                    url: url,
                    // url: jsRoutes.T2C2.attachVocabToDataset(templateID,datasetid).url,
                    type:"PUT",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    data: JSON.stringify({ template_id: templateID, dataset_id: datasetid}),
                    success: function(data){
                        //console.log("attaching");
                    },
                    error: function(xhr, status, error) {
                    }

                })

            }

            function edit4CeedMetaData(templateId) {
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);

                var templateTerms = buildTemplate();
                var tagName = ""; //$('.metaDataTags').val().toUpperCase();
                var datasetName = ""; //$(".metaDataName").val();
                var datasetDescription = ""; //$(".metaDataDesc").val();
                var templateId = templateId;
                $.ajax({
                    url: jsRoutes.api.Vocabularies.editVocabulary(templateId).url,
                    type:"PUT",
                    dataType: "json",
                    data: JSON.stringify({name: datasetName, description: datasetDescription, tags: tagName, isPublic: false, terms: templateTerms, attached_dataset: templateId}),
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data){
                    },
                    error: function(xhr, status, error) {
                    }

                })
            }

            function buildTemplate() {
                var metaDataKeys = $.map($('.metaDataKey'), function (el) { return el.value; });
                var metaDataVals = $.map($('.metaDataVal'), function (el) {return el.value;});
                var metaDataUnits = $.map($('.metaDataUnit'), function (el) {return el.value;});

                var arr = [];

                $.each(metaDataKeys, function (idx, keyName) {
                    if (keyName != ''){
                        var objCombined = {};
                        objCombined['key'] = keyName;
                        objCombined['units'] = metaDataUnits[idx];;
                        objCombined['default_value'] = metaDataVals[idx];
                        arr.push(objCombined);
                    }
                });
                return(arr);

            }

            $(function () {
                $('.delete-icon').unbind().on('click', function(){
                    var delete_icon = $(this);

                    var request = jsRoutes.api.Metadata.removeMetadata(this.id).ajax({
                        type: 'DELETE'
                    });

                    request.done(function (response, textStatus, jqXHR) {
                        //console.log("success");
                        delete_icon.closest(".panel").remove();
                    });

                    request.fail(function (jqXHR, textStatus, errorThrown){
                        console.error("The following error occured: " + textStatus, errorThrown);
                        var errMsg = "You must be logged in to add metadata";
                        if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                            notify("Metadata was not removed due to : " + errorThrown, "error");
                        }
                    });
                });
            })

            // get metadata definitions
            function getMetadataContext(mid, uuid, key) {
                var request = jsRoutes.api.ContextLD.getContextById(uuid).ajax({
                    type: 'GET',
                    contentType: "application/json"
                });

                request.done(function (response, textStatus, jqXHR) {
                    var fields = response;
                    var context = "Context is not defined.";
                    if (fields['@@context']) {
                        context = JSON.stringify(fields['@@context'][key]);
                    }
                    $("#"+mid).popover({
                        content:context,
                        trigger:'hover',
                        placement:'top',
                        template: '<div class="popover" role="tooltip" style="max-width:600px;word-break:break-all"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                    });
                    $("#"+mid).popover('show');
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to retrieve metadata definitions";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                        notify("Metadata context was not shown due to : " + errorThrown, "error");
                    }
                });
            }
            function leaveMetadataContext(mid) {
                $("#"+mid).popover('hide');
            }

            // get agent author definitions
            function getAgentContext(aid, uuid) {
                var request = jsRoutes.api.Users.findById(uuid).ajax({
                    type: 'GET',
                    contentType: "application/json"
                });

                request.done(function (response, textStatus, jqXHR) {
                    var fields = response;
                    //console.log(fields['fullName']);
                    $("#"+aid).popover({
                        content:fields['email'],
                        trigger:'hover',
                        placement:'top',
                        template: '<div class="popover" role="tooltip" style="max-width:600px;word-break:break-all"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                    });
                    $("#"+aid).popover('show');
                });

                request.fail(function (jqXHR, textStatus, errorThrown){
                    console.error("The following error occured: " + textStatus, errorThrown);
                    var errMsg = "You must be logged in to retrieve metadata definitions";
                    if (!checkErrorAndRedirect(jqXHR, errMsg)) {
                        notify("Agent metadata context was not shown due to : " + errorThrown, "error");
                    }
                });
            }

            function leaveAgentContext(aid) {
                $("#"+aid).popover('hide');
            }

            function counter() {
                var count = 0;

                this.reset = function() {
                    count = 0;
                    return count;
                };

                this.add = function() {
                    return ++count;
                };
            }

            $("body").on("click", ".remove", function () {
                $(this).closest(".top-buffer").remove();
            });

            var counter1 = new counter();

            //Create dynamic textbox
            function createOtherDiv(name, desc, tags) {
                var valKeyName = $.trim(name);
                var valStr = $.trim(desc);
                var valUnits = $.trim(tags);

                return '<div class="row top-buffer"><div class="col-xs-4"><b>' + "<label for='metaDataName'>Name: " + '</b></label>' +
                        '<input class="metaDataName form-control" name="metaDataName" id="metaDataName" type="text" value=' + valKeyName.replace(/ /g,"&nbsp;") +'></div>' +

                        '<div class="col-xs-4"><b>' + "<label for='metaDataDesc'>Description:</b></label>" +
                        '<input class="metaDataDesc form-control" name="metaDataDesc" id="metaDataDesc" type="text" value=' + valStr.replace(/ /g,"&nbsp;") +'></div>' +

                        '<div class="col-xs-4"><b>' + "<label for='metaDataTags'>Tags: " + '</label></b>' +
                        '<input class="metaDataTags form-control" name="metaDataTags" id="metaDataTags" type="text" value=' + valUnits.replace(/ /g,"&nbsp;") +'></div></div><br />'

            }

            //Create dynamic textbox
            function createDiv(keyName, val, units) {

                var valKeyName = $.trim(keyName);
                var valStr = $.trim(val);
                var valUnits = $.trim(units);

                //format text
                var txtToWrite = "Value";

                var i = counter1.add();

                return '<div class="row top-buffer"><div class="col-xs-3"><b>' + "<label for='name'>Key: " + '</b></label>' +
                        '<input class="metaDataKey form-control" name="metaDataKey' + i + '" id="metaDataKey' + i + '" type="text" value=' + valKeyName.replace(/ /g,"&nbsp;") +'></div>' +

                        '<div class="col-xs-2" style="margin-left:-15px;"><b>' + "<label for='val'>"+ txtToWrite + '</b></label>' +
                        '<input class="metaDataVal form-control" name="metaDataVal' + i + '" id="metaDataVal' + i + '" type="text" value=' + valStr.replace(/ /g,"&nbsp;") +'></div>' +


                        '<div class="col-xs-2"><b>' + "<label for='name'>Units: " + '</label></b>' +
                        '<input class="metaDataUnit form-control" name="metaDataUnit' + i + '" id="metaDataUnit' + i + '" type="text" value=' + valUnits.replace(/ /g,"&nbsp;") +'></div>' +

                        '<div class="col-xs-1" style="margin-left:-15px;"><b>' + "<label for='val'>&nbsp;" + '</label></b>' +
                        '<input type="button" style="background-color:#d9534f;" value="Remove" class="remove btn btn-danger btnRemove" name="btnRemove' + i + '" id="btnRemove' + i + '"></div>' +
                        '<span class="up"></span><span class="down"></span></div>'


            }

            function moveUp(element) {
                if(element.previousElementSibling)
                    element.parentNode.insertBefore(element, element.previousElementSibling);
            }
            function moveDown(element) {
                if(element.nextElementSibling)
                    element.parentNode.insertBefore(element.nextElementSibling, element);
            }
            document.querySelector('ul').addEventListener('click', function(e) {
                if(e.target.className === 'down') moveDown(e.target.parentNode);
                else if(e.target.className === 'up') moveUp(e.target.parentNode);
            });

            //TEMPLATES
            function getTemplates() {
                $.ajax({
                    url: jsRoutes.api.Vocabularies.list().url,
                    type:"GET",
                    dataType: "json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data){
                        // console.log("yes");
                        $("#treeTemplates").empty();

                        $('<option>').val('').text('--Select One--').appendTo('#treeTemplates');

                        showTemplates(data);
                    },
                    error: function(xhr, status, error) {
                        swal({
                            title: "Error",
                            text: "There was a problem returning custom templates",
                            type: "error",
                            timer: 1500,
                            showConfirmButton: false
                        });
                    }
                })

            }

            //Load user templates
            function showTemplates(data) {
                $.each(data, function(key, val) {
                    $("#treeTemplates").append($("<option class='placeholder'></option>").val(val.id).html(val.name));
                });

                $("#treeTemplates").focus();
            }

            function getTemplate(id){
                $.ajax({
                    url: jsRoutes.api.T2C2.getVocabulary(id).url,
                    type:"GET",
                    dataType: "json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.setRequestHeader("Accept", "application/json");
                    },
                    success: function(data){
                        createBoxes(data);
                    },
                    error: function(xhr, status, error) {
                        swal({
                            title: "Error",
                            text: "There was a problem returning global templates",
                            type: "error",
                            timer: 1500,
                            showConfirmButton: false
                        });
                    }
                })
            }

            function createBoxes(data){
                $(".templateData").empty();
                $(".btnDataset").show();
                $(".btnAdd").show();
                $("#btnTemplate").show();
                $(".otherOptions").show();
                // var menuName = $('.nav-tabs .active > a').attr("href");
                // var menuName = $("#treeTemplates"); 

                // console.log(menuName);

                //Get current tab and use name to determine what the label will say based on it's tab
                $.each(data.terms, function(key, val) {
                    var div = $("<div />");
                    div.html(createDiv(val.key, val.default_value, val.units, val.data_type, val.required));
                    $(".templateData").append(div);
                });

            }

            //Handle template load when new menu item is selected
            $(document).on('change', '#treeTemplates', function(){
                var id = $(this).val();
                if (id != ''){
                    getTemplate(id);
                }
            });


            (function( $ ){
              $( function(){
                $(".enlarge.inline-demo").data("options", {
                  // options here
                });


                $( document ).bind( "enhance", function(){
                  $( "body" ).addClass( "enhanced" );
                });

                $( document ).trigger( "enhance" );
              });
            }( jQuery ));

            $(".enlarge.inline-demo").data("options", {
              button: true,
              hoverZoomWithoutClick: true,
              delay: 300,
              flyout: {
                width: 300,
                height: 300
              },
              placement: "flyoutloupe", // or inline
              magnification: 3
            });


            // function getTemplate(id){
            //     $.ajax({

            //         url: "getExperimentTemplateById/"+id+"",
            //         type:"GET",
            //         dataType: "json",
            //         beforeSend: function(xhr){
            //             xhr.setRequestHeader("Content-Type", "application/json");
            //             xhr.setRequestHeader("Accept", "application/json");
            //         },
            //         success: function(data){
            //             createBoxes(data);
            //         },
            //         error: function(xhr, status, error) {
            //             swal({
            //                 title: "Error",
            //                 text: "There was a problem returning global templates",
            //                 type: "error",
            //                 timer: 1500,
            //                 showConfirmButton: false
            //             });
            //         }
            //     })
            // }
            
        </script>
}