@(datasetsCount: Long, filesCount: Long, filesBytes: Long,
        collectionsCount: Long, spacesCount: Long, usersCount: Long,
        displayedName: String, welcomeMessage: String)(implicit user: Option[models.User])

@import _root_.util.Formatters._

@main(displayedName) {
    <div class="row featurette">
        <div style="text-align: center;">
            <h2 class="featurette-heading">Welcome to @displayedName</h2>
            <p class="lead">@welcomeMessage</p>
            <hr />
           <!--  <p class="lead">If you are in a lab, please take advantage of the streamlined <a href=@play.Play.application().configuration().getString("uploaderURL")>uploader.</a>

              <span style="position: relative;top: 2px;display: inline-block;font-family: 'Glyphicons Halflings'; -webkit-font-smoothing: antialiased; font-style: normal; font-weight: normal; line-height: 1;"
              class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="4CeeD Uploader" data-trigger="hover" data-content="The uploader is a simple 3 step process for uploading files and using templates to describe metadata.">
              </span>
            </p> -->
        </div>
        <div class="row icons_pad" style="margin-top:50px;">
            <div class="col-md-3"> 
                <center>
                    <img src="@routes.Assets.at("images/lock.png")" width="85" /><br /><br />  
                    <h4 class="no_italics">Trusted Capture</h4><br />
                </center>
            </div>
            <div class="col-md-3"> 
                <center>
                 <img src="@routes.Assets.at("images/search.png")" width="85" /><br /><br />  
                    <h4 class="no_italics">Metadata Extraction</h4><br />
                </center>
            </div>
            <div class="col-md-3"> 
                <center>
                    <img src="@routes.Assets.at("images/cloud.png")" width="85" /><br /><br />  
                    <h4 class="no_italics">Smart File Management</h4><br />
                </center>
            </div>
            <div class="col-md-3"> 
                <center>
                     <img src="@routes.Assets.at("images/check.png")" width="85" /><br /><br />  
                    <h4 class="no_italics">Share and Discover</h4><br />
                </center>
            </div>
        </div>
    <!-- <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Welcome to @displayedName</h2>
            <p class="lead">@welcomeMessage</p>
        </div>
        <div class="col-md-5" id="resources-panel-container">
            <div class="panel panel-default" id="resources-panel" data-clampedwidth=".col-md-5">
              <div class="panel-heading">
                <h3 class="panel-title">Resources</h3>
              </div>
              <div class="panel-body">
                  <ul class="list-group">

                        <li class="list-group-item" title="@humanReadableNumber(spacesCount) @Messages("spaces.title")">
                            <a href="@routes.Spaces.list()">@Messages("spaces.title")<span class="badge pull-right">@humanReadableNumber(spacesCount)</span></a>
                        </li>

                      <li class="list-group-item" title="@humanReadableNumber(collectionsCount) @Messages("collections.title")">
                          <a href="@routes.Collections.list("")">@Messages("collections.title") <span class="badge pull-right">@humanReadableNumber(collectionsCount)</span></a>
                      </li>
                      <li class="list-group-item" title="@humanReadableNumber(datasetsCount) @Messages("datasets.title")">
                          <a href="@routes.Datasets.list("")">@Messages("datasets.title") <span class="badge pull-right">@humanReadableNumber(datasetsCount)</span></a>
                      </li>
                      <li class="list-group-item">
                          Files <span class="badge pull-right">@humanReadableNumber(filesCount)</span>
                      </li>
                      <li class="list-group-item" title="Total number of raw bytes stored.">
                          Bytes <span class="badge pull-right">@humanReadableByteCount(filesBytes)</span>
                      </li>
                      <li class="list-group-item" title="Total number users signed up for this server.">
                          @if(user.isDefined) {
                              <a href="@routes.Users.getUsers()"> Users <span class="badge pull-right">@humanReadableNumber(usersCount)</span></a>
                          } else {
                             Users <span class="badge pull-right">@humanReadableNumber(usersCount)</span>
                          }
                      </li>
                  </ul>
              </div>
            </div>
        </div>
    </div> -->
}
