@(sessionList: List[models.AnalysisSession])(implicit user: Option[models.User])

@main("Sessions") {
<div class="page-header">
    <h1>List of Active Jupyter Sessions</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>StartDate</th>
                <th>Reserved Hours</th>
                <th>Reserved Minutes</th>
                <th>Actions</th>

                <th>
            </tr>
            </thead>
            <tbody>
            @sessionList.map { session =>
              @if(session.status == "Running") {
            <tr>
                <td>@session.sessionName</td>
                <td><a href=@session.url target="_blank">@session.url</a></td>
                <td>@session.startDate</td>
                <td>@session.reservedHours</td>
                <td>@session.reservedMinutes</td>
                <td><a href="@controllers.routes.DataAnalysis.terminate(session.id)">Terminate</a></td>

            </tr>
              }
            }
            </tbody>
        </table>
    </div>
</div>
}