@(URL: String, message: String)(implicit user: Option[models.User])

@**
@()
@@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }
	**@




<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dragdrop.css")">
@if(message != "") {
<div class="row">
	<div class="col-md-12">
		<dt>@message:</dt>
		<a href=@URL target="_blank">@URL</a>
	</div>
</div>
}

