@(filename:String, fileContent: String)(implicit user: Option[models.User])



@import scala.io.Source

@injectHtmlFromFile(sourceCodeFilename: String) = { @{
Html(Source.fromString(sourceCodeFilename).mkString)
}}

@main("ViewNotebooks") {
<div class="page-header">
    <h1>@filename</h1>
</div>
<div class="row">
    <div class="col-md-12">
        @injectHtmlFromFile(fileContent)
    </div>
</div>
}